@(form: Form[controllers.StatisticsAPI.PickDate])(discountOrders: List[models.sqlContainer.DiscountOrders])(total_summary: models.sqlContainer.DiscountSummary)(summary_1: models.sqlContainer.DiscountSummary)(summary_2: models.sqlContainer.DiscountSummary)(summary_3: models.sqlContainer.DiscountSummary)(summary_6: models.sqlContainer.DiscountSummary)(free_delivery: models.sqlContainer.DiscountSummary)(productVoucher: models.sqlContainer.DiscountSummary)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {

            @fixedLayout()
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Discount statistics</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @helper.form(routes.StatisticsAPI.searchDiscount()) {
                                    <p>
                                        From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                                    </p>
                                    <p>
                                        To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                                    </p>

                                    <p>
                                        <button type="submit">Search</button>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>

                        <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Order Products Discount Details
                                    <div class="pull-right">
                                        @*<div class="btn-group">*@
                                            @*<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">*@
                                                @*Actions*@
                                                @*<span class="caret"></span>*@
                                            @*</button>*@
                                            @*<ul class="dropdown-menu pull-right" role="menu">*@
                                                @*<li><a href="#">Action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Another action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Something else here</a>*@
                                                @*</li>*@
                                                @*<li class="divider"></li>*@
                                                @*<li><a href="#">Separated link</a>*@
                                                @*</li>*@
                                            @*</ul>*@
                                        @*</div>*@
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Order</th>
                                                            <th>Product Name</th>
                                                            <th>Q</th>
                                                            <th>Price</th>
                                                            <th>Paid</th>
                                                            <th>Discount</th>
                                                            <th>Tax type</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*for loop here*@
                                                        @for(value <-  discountOrders) {
                                                            @if(value.id_tax_rules_group == 1){
                                                                <tr href="#" style="background-color: #c0a16b">
                                                            }
                                                            @if(value.id_tax_rules_group == 2){
                                                                <tr href="#" style="background-color: #a0b605">
                                                            }
                                                            @if(value.id_tax_rules_group == 3){
                                                                <tr href="#" style="background-color: lightskyblue">
                                                            }
                                                            @if(value.id_tax_rules_group == 6){
                                                                <tr href="#" style="background-color: #a6b3cd">
                                                                }
                                                            <td>@value.id_order</td>
                                                            <td>@value.product_name</td>
                                                            <td>@value.product_quantity</td>
                                                            <td>@value.original_unit_price</td>
                                                            <td>@value.total_price_tax_incl</td>
                                                            <td>@value.total_product_discount</td>
                                                            <td>@value.tax_type</td>
                                                            <td>@value.invoice_date</td>
                                                        </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>
                                        <!-- /.row -->
                                    <div class="row col-lg-12">
                                        <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-calculator fa-fw"></i> Total Discount Orders
                                            <span class="pull-right text-muted small"><em>@total_summary.product_quantity</em>
                                            </span>
                                        </div>
                                        <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-money fa-fw"></i> Total Discount Amount
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@total_summary.total_discount</em>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Discount summary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>Tax Type</th>
                                                    <th>Discount Amount</th>
                                                    <th>Product Quantity</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr href="#">
                                                <td>@summary_1.tax_type</td>
                                                <td><i class="fa fa-eur fa-fw"></i>@summary_1.total_discount</td>
                                                <td>@summary_1.product_quantity</td>
                                                </tr>
                                                <tr href="#">
                                                    <td>@summary_2.tax_type</td>
                                                    <td><i class="fa fa-eur fa-fw"></i>@summary_2.total_discount</td>
                                                    <td>@summary_2.product_quantity</td>
                                                </tr>
                                                <tr href="#">
                                                    <td>@summary_3.tax_type</td>
                                                    <td><i class="fa fa-eur fa-fw"></i>@summary_3.total_discount</td>
                                                    <td>@summary_3.product_quantity</td>
                                                </tr>
                                                <tr href="#">
                                                    <td>@summary_6.tax_type</td>
                                                    <td><i class="fa fa-eur fa-fw"></i>@summary_6.total_discount</td>
                                                    <td>@summary_6.product_quantity</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>Voucher</th>
                                                    <th>Orders</th>
                                                    <th>Total Discount</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr href="#">
                                                    <td>@free_delivery.tax_type</td>
                                                    <td>@free_delivery.product_quantity</td>
                                                    <td><i class="fa fa-eur fa-fw"></i>@free_delivery.total_discount</td>
                                                </tr>

                                                <tr href="#">
                                                    <td>Free Food</td>
                                                    <td>@productVoucher.product_quantity</td>
                                                    <td><i class="fa fa-eur fa-fw"></i>@productVoucher.total_discount.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>Total Discount</th>
                                                    <th><i class="fa fa-eur fa-fw"></i>@total_summary.total_discount.add(free_delivery.total_discount).add(productVoucher.total_discount).setScale(2, BigDecimal.ROUND_HALF_UP)</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                    @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-4 -->
                    </div>
                </div>
                    <!-- /#page-wrapper -->
            </div>
              <!-- /#wrapper -->

}
