@(dateForm: Form[controllers.ProductAPI.ProductSalesDate])(data_container: models.template.ReturnProduct)(add_history: List[models.database.StockProduct])(abandon_history: List[models.database.StockAbandon])(productName: String)
@import java.util.List
@import java.text.SimpleDateFormat
@import java.math.BigDecimal

@dashboard("A2B Living") {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">@productName</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <tr>
                                @helper.form(routes.ProductAPI.totalSoldSales()) {
                                    <td>From: <input type="date"  name="startDate" value="@dateForm("startDate").value"></td>
                                    &nbsp;&nbsp;&nbsp;
                                    <td>To: <input type="date"  name="endDate" value="@dateForm("endDate").value"></td>
                                    <td><input style="display: none;" type="number"  name="id_product" value="@dateForm("id_product").value"></td>
                                        &nbsp;
                                    <td><button type="submit">Search</button></td>
                                }
                                </tr>
                            </div>
                        </div>
                    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sold as General Product</th>
                            <th>Sold in Meal Deal</th>
                            <th>Sold in Bundle sales</th>
                            <th>Total Sold Quantity</th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr href="#" style="background-color: transparent">
                        <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@data_container.id_order_detail-small_default.jpg"></td>
                        <td>@data_container.product_upc</td>
                        <td>@data_container.product_name</td>
                        <td>@data_container.product_reference</td>
                        <td>@data_container.product_quantity</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <!-- /.table-responsive -->
        </div>
            <!-- /.col-lg-4 (nested) -->
    </div>

    @if(add_history.size()>0){
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i> Add Stock History</u>
            </div>
                <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Date_Add</th>
                                        <th>On Sale Date</th>
                                        <th>Expiry Date</th>
                                        <th>Quantity</th>
                                        <th>Original Quantity</th>
                                        <th>Person_Added</th>
                                        <th>Person_Set_Onsale</th>
                                    </tr>
                                </thead>

                                <tbody>
                                @for(i <- 0 until add_history.size) {
                                    <tr href="#" style="background-color: transparent">
                                        <td>@(new SimpleDateFormat("yyyy-MM-dd").format(add_history.get(i).date_add))</td>
                                        <td>@(new SimpleDateFormat("yyyy-MM-dd").format(add_history.get(i).last_update))</td>
                                        <td>@(new SimpleDateFormat("yyyy-MM-dd").format(add_history.get(i).expiry_date))</td>
                                        <td>@add_history.get(i).quantity</td>
                                        <td>@add_history.get(i).original_quantity</td>
                                        <td>@add_history.get(i).person_in_charge</td>
                                        <td>@add_history.get(i).on_sale_person</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>
                        <!-- /.col-lg-4 (nested) -->
                </div>
            </div>
        </div>
    }

    @if(abandon_history.size()>0){
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i>Abandon History</u>
            </div>
                <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Abandon Date</th>
                                        <th>Quantity</th>
                                        <th>Expiry Date</th>
                                        <th>Person in Charge</th>
                                    </tr>
                                </thead>

                                <tbody>
                                @for(i <- 0 until abandon_history.size) {
                                    <tr href="#" style="background-color: transparent">
                                        <td>@(new SimpleDateFormat("yyyy-MM-dd").format(abandon_history.get(i).date_add))</td>
                                        <td>@abandon_history.get(i).quantity</td>
                                        <td>@(new SimpleDateFormat("yyyy-MM-dd").format(abandon_history.get(i).expiry_date))</td>
                                        <td>@abandon_history.get(i).person_in_charge</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>
                        <!-- /.col-lg-4 (nested) -->
                </div>
            </div>
        </div>
    }

}
