@(dateForm: Form[controllers.ProductAPI.ProductSalesDate])(product_info: models.sqlContainer.StockManagementProduct)(product_location: String)
@import java.util.List
@import java.math.BigDecimal

@dashboard("A2B Living") {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">@product_info.name</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <tr>
                                @helper.form(routes.ProductAPI.totalSoldSales()) {
                                    <td>From: <input type="date"  name="startDate" value="@dateForm("startDate").value"></td>
                                    &nbsp;&nbsp;&nbsp;
                                    <td>To: <input type="date"  name="endDate" value="@dateForm("endDate").value"></td>
                                    <td><input style="display: none;" type="number"  name="id_product" value="@dateForm("id_product").value"></td>
                                    &nbsp;
                                    <td><button type="submit">Search</button></td>
                                }
                                </tr>
                            </div>
                        </div>
                    </div>

    @if(!product_location.equals("")){
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>EAN</th>
                            <th>Category</th>
                            <th>Current Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Status</th>
                            <th>Expiry Date</th>
                            <th>Location</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                        @if(product_info.quantity < 10){
                            <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                        }
                        @if(product_info.if_valid == 0){
                            <tr href="#" style="background-color:dimgrey; color: white">
                        }
                        @if(product_info.if_expiring == 1){
                            <tr href="#" style="background-color:orangered; color: white">
                        }

                        @if(product_info.if_valid != 0 && product_info.quantity >= 10 && product_info.if_expiring == 0){
                            <tr href="#" style="background-color: transparent">
                            }

                        <td>@product_info.id_product</td>
                        <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@product_info.id_image-small_default.jpg"></td>
                        <td>@product_info.ean</td>
                        <td>@product_info.category_name</td>
                        <td>@BigDecimal.valueOf(product_info.price.doubleValue()*product_info.tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                        <td>@product_info.quantity</td>
                        <td>@product_info.reduction_type
                            <br>
                            @product_info.reduction
                        </td>
                        @if(product_info.if_valid == 0){
                            <td>Disabled</td>
                        }else{
                            <td>On sale</td>
                        }
                        <td>@product_info.expiryDate <br>
                            <input style="color: saddlebrown" type=button onClick="location.href='/api/a2bliving/ProductsStock/ProductStock_Expiry/@product_info.id_product'" value='Edit Expiry Date'>
                        </td>
                        <td>@product_location <br>
                            <input style="color: saddlebrown" type=button onClick="location.href='/api/a2bliving/ProductsStock/ProductStock_Location/@product_info.id_product'" value='Edit Location'>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
                <!-- /.table-responsive -->
        </div>
            <!-- /.col-lg-4 (nested) -->

    </div>
    }

}
