@(form: Form[controllers.StatisticsAPI.PickDate])(deliveryOrders: List[models.sqlContainer.DeliveryOrders])(quantity: Int)(freeDelivery: models.template.DeliverySummary)(chargedDelivery: models.template.DeliverySummary)(marinaOrderSummary: models.template.ManagerOrdersMarinaNumber)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {

            @fixedLayout()
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Delivery statistics</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @helper.form(routes.StatisticsAPI.searchDelivery()) {
                                    <p>
                                        From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                                    </p>
                                    <p>
                                        To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                                    </p>

                                    <p>
                                        <button type="submit">Search</button>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>

                        <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Delivery details
                                    <div class="pull-right">
                                        @*<div class="btn-group">*@
                                            @*<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">*@
                                                @*Actions*@
                                                @*<span class="caret"></span>*@
                                            @*</button>*@
                                            @*<ul class="dropdown-menu pull-right" role="menu">*@
                                                @*<li><a href="#">Action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Another action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Something else here</a>*@
                                                @*</li>*@
                                                @*<li class="divider"></li>*@
                                                @*<li><a href="#">Separated link</a>*@
                                                @*</li>*@
                                            @*</ul>*@
                                        @*</div>*@
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Order</th>
                                                            <th>Counter</th>
                                                            <th>Payment</th>
                                                            <th>Delivery Type</th>
                                                            <th>Delivery Fee</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*for loop here*@
                                                        @for(i <- 0 until deliveryOrders.size) {
                                                            @if(deliveryOrders.get(i).delivery_type.contains("Charged")){
                                                                <tr href="#" style="background-color: lavenderblush">}else{
                                                                <tr href="#" style="background-color: lightskyblue">
                                                                }
                                                            <td>@(i+1)</td>
                                                            <td>Staff @deliveryOrders.get(i).id_cashier</td>
                                                            @*<td>Driver @deliveryOrders.get(i).id_driver</td>*@
                                                            <td>@deliveryOrders.get(i).payment_method</td>
                                                            <td>@deliveryOrders.get(i).delivery_type</td>
                                                            <td>@deliveryOrders.get(i).total_shipping.setScale(2, BigDecimal.ROUND_DOWN)</td>
                                                            <td>@deliveryOrders.get(i).invoice_date.toString</td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>
                                        <!-- /.row -->
                                    <div class="row col-lg-12">
                                        <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-calculator fa-fw"></i> Total Delivery Orders
                                            <span class="pull-right text-muted small"><em>@quantity</em>
                                            </span>
                                        </div>
                                        <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-money fa-fw"></i> Total Delivery fee
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@chargedDelivery.total_shipping</em>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Delivery summary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>NO.</th>
                                                    <th>Delivery Type</th>
                                                    <th>Quantity</th>
                                                    <th>Total Delivery</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr href="#">
                                                    <td>1</td>
                                                    <td>@freeDelivery.delivery_type</td>
                                                    <td>@freeDelivery.quantity</td>
                                                    <td>@freeDelivery.total_shipping</td>
                                                </tr>

                                                <tr href="#">
                                                    <td>2</td>
                                                    <td>@chargedDelivery.delivery_type</td>
                                                    <td>@chargedDelivery.quantity</td>
                                                    <td>@chargedDelivery.total_shipping</td>
                                                </tr>

                                                <tr href="#">
                                                    <td>3</td>
                                                    <td>Marina Special Orders</td>
                                                    <td>@marinaOrderSummary.marinaChargedOrders</td>
                                                    <td><i class="fa fa-eur fa-fw"></i>@marinaOrderSummary.marinaChargedOrders</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                    @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                            </div>

                                <!-- /.panel -->
                         </div>
                            <!-- /.col-lg-4 -->
                     </div>
                </div>
                    <!-- /#page-wrapper -->
            </div>
              <!-- /#wrapper -->

}
