@(orderProducts: List[models.sqlContainer.OrderDrillProducts])
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {

            @fixedLayout()
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Product Details</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                                           <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Order Products Details
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Name</th>
                                                            <th>Brand</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                            <th>Tax type</th>
                                                            <th>Tax</th>
                                                            <th>Reduction amount</th>
                                                            <th>Original price</th>
                                                            <th>Original Unit price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*for loop here*@
                                                        @for(i <- 0 until orderProducts.size) {
                                                            @if(orderProducts.get(i).id_tax_rules_group == 1){
                                                                <tr href="#" style="background-color: #c0a16b">
                                                            }
                                                            @if(orderProducts.get(i).id_tax_rules_group == 2){
                                                                <tr href="#" style="background-color: #a0b605">
                                                            }
                                                            @if(orderProducts.get(i).id_tax_rules_group == 3){
                                                                <tr href="#" style="background-color: lightskyblue">
                                                            }
                                                            @if(orderProducts.get(i).id_tax_rules_group == 6){
                                                                <tr href="#" style="background-color: #a6b3cd">
                                                                }
                                                            <td>@orderProducts.get(i).product_name</td>
                                                            <td>@orderProducts.get(i).product_reference</td>
                                                            <td>@orderProducts.get(i).total_price_tax_incl.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@orderProducts.get(i).product_quantity</td>
                                                            <td>@orderProducts.get(i).tax_type</td>
                                                            <td>@orderProducts.get(i).product_tax.setScale(2, BigDecimal.ROUND_DOWN)</td>
                                                            <td>@orderProducts.get(i).total_reduction.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@orderProducts.get(i).real_original_price.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@orderProducts.get(i).original_product_price.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>

                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Order summary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <tr style="background-color:lightgoldenrodyellow">
                                                <th>Order Time</th>
                                                <td>@orderProducts.get(0).invoice_date</td>
                                            </tr>
                                            <tr style="background-color:lightgoldenrodyellow">
                                                <th>Product Voucher</th>
                                                <td>@orderProducts.get(0).total_discounts.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            </tr>
                                            <tr style="background-color:lightgoldenrodyellow">
                                                <th>Delivery </th>
                                                <td>@orderProducts.get(0).total_shipping.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            </tr>

                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                    @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-4 -->
                    </div>
                </div>
                    <!-- /#page-wrapper -->
            </div>
              <!-- /#wrapper -->

}
