@(form: Form[controllers.StatisticsAPI.PickDate])(taxOrders: List[models.sqlContainer.TaxOrders])(taxSummary: List[models.sqlContainer.TaxSummary])(totalAllTax: models.sqlContainer.DiscountSummary)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {

            @fixedLayout()
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Tax statistics</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->


                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @helper.form(routes.StatisticsAPI.searchTax()) {
                                    <p>
                                        From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                                    </p>
                                    <p>
                                        To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                                    </p>

                                    <p>
                                        <button type="submit">Search</button>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>

                        <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Tax details
                                    <div class="pull-right">
                                        @*<div class="btn-group">*@
                                            @*<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">*@
                                                @*Actions*@
                                                @*<span class="caret"></span>*@
                                            @*</button>*@
                                            @*<ul class="dropdown-menu pull-right" role="menu">*@
                                                @*<li><a href="#">Action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Another action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Something else here</a>*@
                                                @*</li>*@
                                                @*<li class="divider"></li>*@
                                                @*<li><a href="#">Separated link</a>*@
                                                @*</li>*@
                                            @*</ul>*@
                                        @*</div>*@
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Order</th>

                                                            <th>Price</th>
                                                            <th>Product Quantity</th>
                                                            <th>Delivery fee</th>
                                                            <th>Tax</th>
                                                            <th>Voucher</th>
                                                            <th>Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*for loop here*@
                                                        @for(i <- 0 until taxOrders.size) {
                                                        <tr href="#" style="background-color: #E0E1E2">
                                                            <td>@(i+1)</td>

                                                            <td>@taxOrders.get(i).total_paid_real.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@taxOrders.get(i).total_product_quantity &nbsp;<input type=button onClick="location.href='/api/a2bliving/ManagerSystem/OrdersProducts/@taxOrders.get(i).id_order/detail'" value='See More'></td>
                                                            <td>@taxOrders.get(i).total_shipping.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@taxOrders.get(i).order_tax_amount.setScale(2, BigDecimal.ROUND_DOWN)</td>
                                                            <td>@taxOrders.get(i).total_discounts.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@taxOrders.get(i).invoice_date</td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>
                                        <!-- /.row -->
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Tax summary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>NO.</th>
                                                    <th>Type</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            @for(i <- 0 until taxSummary.size) {
                                                <tr href="#">
                                                    <td>@(i+1)</td>
                                                    <td>@taxSummary.get(i).tax_type</td>
                                                    <td>@taxSummary.get(i).total_tax_amount</td>
                                                </tr>
                                            }
                                                <tr href="#">
                                                    <td>@(taxSummary.size()+1)</td>
                                                    <td><strong>Total</strong></td>
                                                    <td>@totalAllTax.total_product_price</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                    @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-4 -->
                    </div>
                </div>
                    <!-- /#page-wrapper -->
            </div>
              <!-- /#wrapper -->
}
