@(all_products: List[models.sqlContainer.BuyOneGetOneProduct])(personForm: Form[controllers.StockAPI.OnSalePerson])(bundleRecordForm: Form[controllers.StockAPI.BundleProductRecord])
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Bundle Product List &nbsp;
                        <a href="/api/a2bliving/ProductsStock/searchByLocation"><i class="fa fa-search" style="float: right" aria-hidden="true">Location</i></a></h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> PRODUCTS &nbsp;<u> @all_products.size()</u>
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Bundle Product</th>
                                                    <th>Bundle Rule</th>
                                                    <th>Bundle Start</th>
                                                    <th>Bundle End</th>
                                                    <th>Person added</th>
                                                    <th>Original Product</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Discount</th>
                                                    <th>Status</th>
                                                    <th>Expiry Date</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until all_products.size) {
                                                    @if(all_products.get(i).quantity < 10){
                                                    <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                                                    }
                                                    @if(all_products.get(i).if_active == 0){
                                                    <tr href="#" style="background-color:dimgrey; color: white">
                                                    }

                                                    @if(all_products.get(i).if_expiring == 1){
                                                        <tr href="#" style="background-color:orangered; color: white">
                                                    }

                                                    @if(all_products.get(i).if_active != 0 && all_products.get(i).quantity >= 10 && all_products.get(i).if_expiring == 0){
                                                    <tr href="#" style="background-color: transparent">
                                                    }
                                                    <td>@all_products.get(i).id_onsale_product
                                                    <input style="color: saddlebrown" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductInformation/@all_products.get(i).id_onsale_product',
                                                            '_blank')" value='Info'>
                                                    <br>
                                                    <img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@all_products.get(i).id_target_img-small_default.jpg">
                                                    </td>
                                                    <td>Buy @all_products.get(i).basic_unit Get @all_products.get(i).bundle_number</td>
                                                    <td>@all_products.get(i).startDate</td>
                                                    <td>@all_products.get(i).endDate</td>
                                                    <td>@all_products.get(i).admin_name</td>
                                                    <td>@all_products.get(i).id_product
                                                    <input style="color: dodgerblue" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductInformation/@all_products.get(i).id_product','_blank')" value='Info'>
                                                     <br><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@all_products.get(i).id_image-small_default.jpg"></td>
                                                    <td>@all_products.get(i).name</td>
                                                    @*<td>@all_products.get(i).ean  <br>*@
                                                        @*location.href='/api/a2bliving/ProductsStock/ProductStock_Location/@all_products.get(i).id_product'*@
                                                    @*<input style="color: saddlebrown" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Location/@all_products.get(i).id_product',*@
                                                            @*'_blank')"  value='Edit Location'>*@
                                                    @*</td>*@
                                                    <td>@BigDecimal.valueOf(all_products.get(i).price.doubleValue()*all_products.get(i).tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_products.get(i).quantity</td>
                                                    <td>@all_products.get(i).reduction_type <br>
                                                    @all_products.get(i).reduction.setScale(2, BigDecimal.ROUND_HALF_UP)
                                                    </td>
                                                    @if(all_products.get(i).if_active == 0){
                                                        <td>Disabled</td>
                                                    }else{
                                                        <td>On sale</td>
                                                        }
                                                    <td>@all_products.get(i).expiryDate</td>

                                                    @*/api/a2bliving/ProductsStock/ProductInformation/@all_products.get(i).id_product*@
                                                    <td>
                                                        @*<input style="color: dodgerblue" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductInformation/@all_products.get(i).id_product',*@
                                                            @*'_blank')" value='Info'> <br><br>*@
                                                        @*/api/a2bliving/ProductsStock/ProductStock_Add/@all_products.get(i).id_product*@
                                                        @*<input style="color: black" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Add/@all_products.get(i).id_product',*@
                                                            @*'_blank')" value='Add'>  <br><br>*@
                                                        @*/api/a2bliving/ProductsStock/ProductStock_Abandon/@all_products.get(i).id_product*@
                                                        <input style="color: red" type=button onClick="window.open('/api/a2bliving/ProductsStock/editBundlePage/@all_products.get(i).id_bogo',
                                                            '_blank')" value='Edit'>
                                                    </td>
                                                    <td>
                                                    @helper.form(routes.StockAPI.deleteOneBundleRule(all_products.get(i).id_bogo)) {
                                                      <input type="text" style="color: #0f0f10;" name="staff_name" placeholder="enter your name..." value="@personForm("staff_name").value">
                                                      <br>
                                                      <button type="submit" style="color: #9e1317">Delete Rule</button>
                                                    }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>

                </div>

            </div>
                <!-- /.row -->


            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Add New Rules</u>
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Bundle ProductID</th>
                                                    <th>Basic Unit</th>
                                                    <th>Bundle Number</th>
                                                    <th>Original ProductID</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Admin Name</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                            @helper.form(routes.StockAPI.addOneBundleRule()) {
                                                    <td><input type="number"  name="target_product_id" value="@bundleRecordForm("target_product_id").value"></td>
                                                    <td><input type="number"  name="basic_unit" value="@bundleRecordForm("basic_unit").value"></td>
                                                    <td><input type="number"  name="bundle_number" value="@bundleRecordForm("bundle_number").value"></td>
                                                    <td><input type="number"  name="product_id" value="@bundleRecordForm("product_id").value"></td>
                                                    <td><input type="date"  name="start_date" value="@bundleRecordForm("start_date").value"></td>
                                                    <td><input type="date"  name="end_date" value="@bundleRecordForm("end_date").value"></td>
                                                    <td><input type="text"  name="admin_name" value="@bundleRecordForm("admin_name").value"></td>
                                                    <td><button type="submit">Submit</button></td>
                                            }
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>

                </div>

            </div>
}
