@(bundleRuleForm: Form[controllers.StockAPI.BundleProductRecord])(that_information: sqlContainer.BuyOneGetOneProduct)
@import java.math.BigDecimal
@import java.util.List
@dashboard("A2B Living") {
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@that_information.name</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i>
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Discount</th>
                                                    <th>Status</th>
                                                    <th>Expiry Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    @if(that_information.quantity < 10){
                                                        <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                                                    }
                                                    @if(that_information.if_active == 0){
                                                        <tr href="#" style="background-color:dimgrey; color: white">
                                                    }

                                                    @if(that_information.if_expiring == 1){
                                                        <tr href="#" style="background-color:orangered; color: white">
                                                    }

                                                    @if(that_information.if_active != 0 && that_information.quantity >= 10 && that_information.if_expiring == 0){
                                                        <tr href="#" style="background-color: transparent">
                                                        }
                                                    <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@that_information.id_image-small_default.jpg"></td>
                                                    <td>@that_information.name</td>
                                                    @*<td>@all_products.get(i).ean  <br>*@
                                                    @*location.href='/api/a2bliving/ProductsStock/ProductStock_Location/@all_products.get(i).id_product'*@
                                                    @*<input style="color: saddlebrown" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Location/@all_products.get(i).id_product',*@
                                                    @*'_blank')"  value='Edit Location'>*@
                                                    @*</td>*@
                                                    <td>@BigDecimal.valueOf(that_information.price.doubleValue()*that_information.tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@that_information.quantity</td>
                                                    <td>@that_information.reduction_type <br>
                                                    @that_information.reduction
                                                    </td>
                                                    @if(that_information.if_active == 0){
                                                        <td>Disabled</td>
                                                    }else{
                                                        <td>On sale</td>
                                                    }
                                                    <td>@that_information.expiryDate</td>
                                             </tr>
                                            </tbody>
                                            <thead>
                                                <tr>
                                                    <th>Bundle ProductID</th>
                                                    <th>Basic Unit</th>
                                                    <th>Bundle Number</th>
                                                    <th>Original ProductID</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Admin Name</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr href="#" style="font-weight: bold">
                                                @helper.form(routes.StockAPI.editOneBundleRule(that_information.id_bogo)) {
                                                    <td><input type="number"  name="target_product_id"  value="@bundleRuleForm("target_product_id").value">
                                                        <br>
                                                        <input style="color: saddlebrown" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductInformation/@bundleRuleForm("target_product_id").value','_blank')" value='Info'>
                                                    </td>
                                                    <td><input type="number"  name="basic_unit" value="@bundleRuleForm("basic_unit").value"></td>
                                                    <td><input type="number"  name="bundle_number" value="@bundleRuleForm("bundle_number").value"></td>
                                                    <td><input type="number"  name="product_id"  value="@bundleRuleForm("product_id").value">
                                                        <br>
                                                        <input style="color: dodgerblue" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductInformation/@bundleRuleForm("product_id").value','_blank')" value='Info'>
                                                        <br>
                                                        <img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@that_information.id_target_img-small_default.jpg">
                                                    </td>
                                                    <td><input type="date"  name="start_date" value="@bundleRuleForm("start_date").value"></td>
                                                    <td><input type="date"  name="end_date" value="@bundleRuleForm("end_date").value"></td>
                                                    <td><input type="text"  name="admin_name" value="@bundleRuleForm("admin_name").value"></td>
                                                    <td><button type="submit">Submit</button></td>
                                                }
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>

                </div>

            </div>
                <!-- /.row -->

        <!-- /Wrapper -->
}
