@(dateForm: Form[controllers.StatisticsAPI.PickDate])(all_orders: List[models.sqlContainer.SummaryOrdersTotal])(appOrder: models.sqlContainer.ProductQuantity)(phoneOrder: models.sqlContainer.ProductQuantity)(cashOrders: models.sqlContainer.ProductQuantity)(onlinePayOrders: models.sqlContainer.ProductQuantity)(total_orders: Integer)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {

    @fixedLayout()
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                     Orders Statistics
                    </h2>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="container">
                <div class="row ">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3 class="head-title text-left">Choose time period below</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                    @helper.form(routes.StatisticsAPI.postOrdersDetails()) {
                        <p>
                            From<input type="date" name="startDate" placeholder="Start date" value="@dateForm("startDate").value">
                            To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@dateForm("endDate").value">
                        </p>

                        <p>
                            <button type="submit">Search</button>
                        </p>
                    }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Brand Orders Bar Chart
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="barChart" style="min-width: 310px; height: 400px; margin:0 auto"></div>
                            </div>
                                <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-6">
                                <div id="pieChart" style="min-width: 310px; height: 400px; margin:0 auto"></div>
                            </div>
                                <!-- /.col-lg-8 (nested) -->
                        </div>
                            <!-- /.row -->
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                <!-- /row -->





                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                        <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Delivery details
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>Order ID</th>
                                                    <th>Cashier</th>
                                                    <th>Driver</th>
                                                    <th>Payment</th>
                                                    <th>Customer</th>
                                                    <th>Total sales</th>
                                                    <th>Delivery Fee</th>
                                                    <th>Products Quantity</th>
                                                    <th>Products Tax</th>
                                                    <th>Product Reduction</th>
                                                    <th>Voucher Discounts</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until all_orders.size) {
                                                    @if(all_orders.get(i).if_valid ==0){
                                                        <tr href="" style="background-color: lavenderblush">}else{
                                                        <tr href="" style="background-color: #e8e8e8">
                                                    }
                                                    <td>@(i+1)</td>
                                                    <td>@all_orders.get(i).id_cashier</td>
                                                    <td>@all_orders.get(i).id_driver</td>
                                                    <td>@all_orders.get(i).payment</td>
                                                    <td>@all_orders.get(i).first_name &nbsp;@all_orders.get(i).last_name</td>
                                                    <td>@all_orders.get(i).total_products_sales.subtract(all_orders.get(i).total_voucher_discounts).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_orders.get(i).delviery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_orders.get(i).total_products_quantity &nbsp;<input type=button onClick="location.href='/api/a2bliving/ManagerSystem/OrdersProducts/@all_orders.get(i).id_order/detail'" value='See More'></td>
                                                    <td>@all_orders.get(i).total_tax.subtract(BigDecimal.valueOf(all_orders.get(i).total_voucher_discounts.doubleValue() * (9 * 1.0 / 109))).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_orders.get(i).total_product_discounts.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_orders.get(i).total_voucher_discounts.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_orders.get(i).invoice_date</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                            </div>
                                <!-- /.row -->
                         </div>
                            <!-- /.panel-body -->
                    </div>
                        <!-- /.panel -->
                </div>

                    <!-- /.col-lg-12 -->
            </div>




        </div>
            <!-- /#page-wrapper -->
    </div>
        <!-- /#wrapper -->
    <script type="text/javascript">
            // Create the chart
            Highcharts.chart('barChart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Payment method of Orders'
                },

                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Order Number'
                    },
                    min: 0,
                    max: @total_orders,
                    tickInterval: 5

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: ''
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">Quantity</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b>/@total_orders<br/>'
                },

                series: [{
                    name: 'Payment Method',
                    colorByPoint: true,
                    data: [{
                        name: 'Cash Payment',
                        y: @cashOrders.quantity,

                    }, {
                        name: 'Online Payment',
                        y: @onlinePayOrders.quantity,

                    }]
                }],
            }); // chart1 finished

            //Pie chart
            Highcharts.chart('pieChart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Phone Orders and APP Orders'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Order Quantity',
                    colorByPoint: true,
                    data: [{
                        name: 'Phone Orders',
                        y: @phoneOrder.quantity,
                        sliced: true,
                        selected: true
                    }, {
                        name: 'APP Orders',
                        y: @appOrder.quantity,
                        sliced: true,
                        selected: true
                    }, ]
                }]
            });
    </script>
}
