@(dateForm: Form[controllers.StatisticsAPI.PickDate])
@import java.util.List
@import java.math.BigDecimal

@dashboard("A2B Living") {

            @fixedLayout()
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Order Information Statistics</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->

                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                            @helper.form(action = routes.StatisticsAPI.postOrdersDetails()){
                            @helper.inputDate(dateForm("startDate"))
                            @helper.inputDate(dateForm("endDate"))
                             <input type="submit">
                            }
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /#page-wrapper -->
            </div>
              <!-- /#wrapper -->

}
