@(form: Form[controllers.StatisticsAPI.PickDate])(totalReturnManagerOrder: models.database.TotalReturnManagerOrder)(total_orders: Int)(total_sales: Double)(brands: List[models.sqlContainer.BrandSummary])(cashier_vouchers: List[models.sqlContainer.MealDealProduct])(today: String)(data_loader: models.database.TotalReturnManagerOrder)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
            @fixedLayout()
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Daily Summary &nbsp; <p style="float: right">@today</p></h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                            @helper.form(routes.ManagerAPI.dashboardAPI()){
                                <p>
                                    From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                                </p>
                                <p>
                                    To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                                </p>

                                <p>
                                    <button type="submit">Search</button>
                                </p>
                            }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="@routes.Assets.at("images/shop.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(0).number_of_piece</div>
                                            <div>Shop products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(0).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-pie-chart fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/pizza.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(1).number_of_piece</div>
                                            <div>Pizza products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(1).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-shopping-cart fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/asian.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(2).number_of_piece</div>
                                            <div>Asian products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(2).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-support fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/chinese.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(3).number_of_piece</div>
                                            <div>Chinese products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(3).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                        <!-- /.row -->
                    @*starter summary*@
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-gray">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-support fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/starter.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(4).number_of_piece</div>
                                            <div>Starter products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(4).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @*tobacco*@
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-support fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/tobacco.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(5).number_of_piece</div>
                                            <div>Tobacco products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(5).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        @*tobacco end*@


                        @*lunch*@
                        <div class="col-lg-3 col-md-3">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-support fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/lunch.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@brands.get(6).number_of_piece</div>
                                            <div>Lunch products!</div>
                                            <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(6).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        @*lunch end*@
                    </div>
                    @*品牌营业额统计结束*@
                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-center">Total Voucher Given out</h3>
                                <p class="head-desc text-center"> Lenovo: 102  &nbsp; Huawei: 149</p>
                                <hr class="title-border">
                            </div>
                        </div>
                        <div class="row">
                        @for(i <- 0 until cashier_vouchers.size) {
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="figcaption">
                                    <h4>Cashier ID:@cashier_vouchers.get(i).id_product_shop</h4>
                                    <h5>Voucher Quantity:@cashier_vouchers.get(i).purchased_quantity</h5>
                                    @*<h5>@cashiers.get(i).date_add</h5>*@
                                </div>
                            </div>
                        }
                        </div>
                    </div>

                        <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Orders
                                    <div class="pull-right">

                                        @*<div class="btn-group">*@
                                            @*<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">*@
                                                @*Actions*@
                                                @*<span class="caret"></span>*@
                                            @*</button>*@
                                            @*<ul class="dropdown-menu pull-right" role="menu">*@
                                                @*<li><a href="#">Action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Another action</a>*@
                                                @*</li>*@
                                                @*<li><a href="#">Something else here</a>*@
                                                @*</li>*@
                                                @*<li class="divider"></li>*@
                                                @*<li><a href="#">Separated link</a>*@
                                                @*</li>*@
                                            @*</ul>*@
                                        @*</div>*@
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row col-lg-12">
                                         <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-calculator fa-fw"></i> Total Order numbers
                                            <span class="pull-right text-muted small"><em>@total_orders</em>
                                            </span>
                                         </div>
                                        <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-money fa-fw"></i> Total sales
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@total_sales</em>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row col-lg-12">
                                        <div class = "col-md-6 col-sm-6 col-xs-6" style="background-color: lightskyblue">
                                            <i class="fa fa-credit-card fa-fw"></i>Online payment orders
                                            <span class="pull-right text-muted small"><em>@totalReturnManagerOrder.total_onlinepay_number</em>
                                            </span>
                                        </div>
                                        <div class = "col-md-6 col-sm-6 col-xs-6" style="background-color: lavenderblush">
                                            <i class="fa fa-money fa-fw"></i>Cash payment orders
                                            <span class="pull-right text-muted small"><em>@totalReturnManagerOrder.total_cashpay_number</em>
                                            </span>
                                        </div>
                                    </div>
                                        <!-- /.row -->
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Data summary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">

                                        <a href="#" class="list-group-item" style="background-color: lightskyblue">
                                            <i class="fa fa-credit-card fa-fw"></i>Online payment sales
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnManagerOrder.total_onlinepay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item" style="background-color: lavenderblush">
                                            <i class="fa fa-money fa-fw"></i>Cash payment sales
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnManagerOrder.total_cashpay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item" style="background-color: lightskyblue">
                                            <i class="fa fa-credit-card fa-fw"></i><i class="fa fa-car fa-fw"></i>Online payment delivery
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnManagerOrder.total_onlinepay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item" style="background-color: lavenderblush">
                                            <i class="fa fa-money fa-fw"></i><i class="fa fa-car fa-fw"></i>Cash payment delivery
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnManagerOrder.total_cashpay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>
                                        @*<a href="#" class="list-group-item">*@
                                            @*<i class="fa fa-money fa-fw"></i> Payment Received*@
                                            @*<span class="pull-right text-muted small"><em>Yesterday</em>*@
                                            @*</span>*@
                                        @*</a>*@
                                    </div>
                                        @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr style="background-color:lightgoldenrodyellow">
                                                <th>Total Sales</th>
                                                <th>Total Orders</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr href="#">
                                                <td><i class="fa fa-eur fa-fw"></i>@total_sales</td>
                                                <td>@total_orders</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <!-- /.table-responsive -->
                                <br>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i>Total Cash Summary
                                    </div>
                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr style="background-color:lightgoldenrodyellow">
                                                                <th>Total Voucher Value</th>
                                                                <th>Final cash left</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td><i class="fa fa-eur fa-fw"></i>@data_loader.total_cashpay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                                <td><i class="fa fa-eur fa-fw"></i>@data_loader.total_onlinepay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    <!-- /.table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                @helper.form(routes.ManagerAPI.managerPrintAPI()){
                                    <p style="display: none">
                                        From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                                    </p>
                                    <p style="display: none">
                                        To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                                    </p>

                                    <p>
                                        <button type="submit"><i class="fa fa-print fa-fw"></i>Print Total Summary</button>
                                    </p>
                                }
                                </div>

                            </div>
                                <!-- /.panel -->

                        </div>
                            <!-- /.col-lg-4 -->
                    </div>
                        <!-- /.row -->

                </div>
                    <!-- /#page-wrapper -->
            </div>
              <!-- /#wrapper -->

}
