@(allDrivers: List[models.database.Driver])
@import java.util.List
@dashboard("A2B Living") {

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Choose one Driver &nbsp;
                        <a href="/api/a2bliving/a2bliving/a2bliving"><i class="fa fa-undo" style="float: right" aria-hidden="true"></i></a>
                    </h1>

                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                 <div class="col-lg-12">
                    <div class="panel panel-default">
                       <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i>All Drivers &nbsp;<u> @allDrivers.size()</u>
                       </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" style="font-size: large">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Contact Number</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until allDrivers.size) {
                                                    <tr href="#" style="background-color: transparent">
                                                        <td>@allDrivers.get(i).name &nbsp;
                                                        <input style="color: black; float: right" type=button onClick="window.open('/api/a2bliving/ManagerSystem/DriverPayroll_driver/@allDrivers.get(i).id_driver','_blank')" value='Check Summary'>
                                                        </td>
                                                        <td>@allDrivers.get(i).contact_number</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>

            </div>
                <!-- /.row -->

}
