@(dateForm: Form[controllers.WebAPI.PayRollDate])
@import java.util.List
@import java.math.BigDecimal

@dashboard("A2B Living") {

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Driver Salary Calculation</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                            @helper.form(routes.WebAPI.calculateTotalSalary()) {
                                <p>
                                    From<input type="date" name="startDate" placeholder="Start date" value="@dateForm("startDate").value">
                                    To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@dateForm("endDate").value">
                                </p>

                                <p style="display: none;">
                                    <input type="text" name="driver_id" placeholder="Start date" value="@dateForm("driver_id").value">
                                    <input type="text" name="driver_name" placeholder="Start date" value="@dateForm("driver_name").value">
                                </p>

                                <p>
                                    <button type="submit">Search</button>
                                </p>
                            }
                            </div>
                        </div>
                    </div>

}
