@(form: Form[controllers.WebAPI.PayRollDate])(salary_records: List[models.sqlContainer.DriverPayrollTotalSummary])
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
                        <!-- /.row -->
                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-left">Choose time period below</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @helper.form(routes.WebAPI.calculateTotalSalary()) {
                                    <p>
                                        From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                                    </p>
                                    <p>
                                        To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                                    </p>

                                    <p>
                                        <button type="submit">Search</button>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>
    @*for loop here*@
    @for(i <- 0 until salary_records.size) {
                       <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @salary_records.get(i).name
                                    <div class="pull-right">
                                        @salary_records.get(i).total_working_days  &nbsp;Days
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Date</th>
                                                            <th>Working hours</th>
                                                            <th>Hourly Wage</th>
                                                            <th>Daily wage</th>
                                                            <th>Extra Cost</th>
                                                            <th>Specification</th>
                                                            <th>Marina Delivery</th>
                                                            <th>Cash Order</th>
                                                            <th>Cash Order Delivery</th>
                                                            <th>Online Order</th>
                                                            <th>Online Order Delivery</th>
                                                            <th>Car Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @for(j <- 0 until salary_records.get(i).detail_list.size) {
                                                        @if(salary_records.get(i).detail_list.get(j).if_company_car == 1){
                                                            <tr href="#" style="background-color: lightskyblue">
                                                        }

                                                        @if(salary_records.get(i).detail_list.get(j).if_company_car == 2){
                                                            <tr href="#" style="background-color: pink">
                                                        }else{
                                                            <tr href="#" style="background-color: lightgray">
                                                        }
                                                            <td>@salary_records.get(i).detail_list.get(j).date_add.toString</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).working_hours.setScale(1, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).hourly_wage.setScale(1, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).total_wage.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).extra_cost.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).specification</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).marina_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).cash_order</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).cash_delivery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).online_order</td>
                                                            <td>@salary_records.get(i).detail_list.get(j).online_delivery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            <td>@if(salary_records.get(i).detail_list.get(j).if_company_car ==1){
                                                                Own Car
                                                                }
                                                                @if(salary_records.get(i).detail_list.get(j).if_company_car ==2){
                                                                Company Car
                                                                }

                                                                @if(salary_records.get(i).detail_list.get(j).if_company_car !=1 && salary_records.get(i).detail_list.get(j).if_company_car !=2){
                                                                    Unknown
                                                                }

                                                        </tr>

                                                    }
                                                    <tr  style="background-color: lightgoldenrodyellow">
                                                        <td>Total:</td>
                                                        <td>@salary_records.get(i).total_working_hours.setScale(1, BigDecimal.ROUND_HALF_UP)</td>
                                                        <td></td>
                                                        <td>@salary_records.get(i).total_wage.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                        <td>@salary_records.get(i).total_extra_cost.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>@salary_records.get(i).total_cash_order</td>
                                                        <td>@salary_records.get(i).total_cash_delivery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                        <td>@salary_records.get(i).total_online_order</td>
                                                        <td>@salary_records.get(i).total_online_delivery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                        <td></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>
                                        <!-- /.row -->
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Total Salary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>Total Salary:</th>
                                                    <th><i class="fa fa-eur fa-fw"></i>@salary_records.get(i).total_wage.add(salary_records.get(i).total_extra_cost).add(salary_records.get(i).total_marina_delivery).setScale(2, BigDecimal.ROUND_HALF_UP)</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                    @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-4 -->
                    </div>
    }


}
