@(keyWordForm: Form[controllers.StockAPI.AddStockForm])(product_info: models.sqlContainer.StockManagementProduct)(category: List[sqlContainer.Category])
@import java.math.BigDecimal
@import java.util.List
@dashboard("A2B Living") {
    <div id="wrapper">
        @fixedStockLayout(category)
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@product_info.name</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-7">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Current Quantity: &nbsp;@product_info.quantity
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Image</th>
                                                    <th>Name</th>
                                                    <th>EAN</th>

                                                    <th>Price</th>

                                                    <th>Discount</th>
                                                    <th>Status</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                @if(product_info.quantity < 10){
                                                    <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                                                }
                                                @if(product_info.if_valid == 0){
                                                    <tr href="#" style="background-color:dimgrey; color: white">
                                                }

                                                @if(product_info.if_expiring == 1){
                                                    <tr href="#" style="background-color:orangered; color: white">
                                                }

                                                @if(product_info.if_valid != 0 && product_info.quantity >= 10 && product_info.if_expiring == 0){
                                                    <tr href="#" style="background-color: transparent">
                                                    }

                                                <td>@product_info.id_product</td>
                                                <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@product_info.id_image-medium_default.jpg"></td>
                                                <td>@product_info.name</td>
                                                <td>@product_info.ean</td>
                                                <td>@BigDecimal.valueOf(product_info.price.doubleValue()*product_info.tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                <td>@product_info.reduction_type
                                                <br>
                                                @product_info.reduction
                                                </td>
                                                @if(product_info.if_valid == 0){
                                                    <td>Disabled</td>
                                                }else{
                                                    <td>On sale</td>
                                                }
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i>Add Expiry Page
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <tbody>
                                            @helper.form(routes.StockAPI.addExpiryToProduct(product_info.id_product)) {
                                                <tr>
                                                    <td>Expiry Date</td>
                                                    <td><input style="width: 100%;
                                                        padding: 12px 20px;
                                                        margin: 8px 0;
                                                        display: inline-block;
                                                        border: 1px solid #ccc;
                                                        border-radius: 4px;
                                                        box-sizing: border-box;
                                                        font-size: 25px;" type="date"  name="expiry_date" value="@keyWordForm("expiry_date").value"></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <button type="submit">Submit</button>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>

            </div>
                <!-- /.row -->
        </div>
            <!-- /#page-wrapper -->

    </div>
        <!-- /Wrapper -->
}
