@(keyWordForm: Form[controllers.StockAPI.AddStockForm])(product_info: models.sqlContainer.StockManagementProduct)(category: List[sqlContainer.Category])
@import java.math.BigDecimal
@import java.util.List
@dashboard("A2B Living") {
    <div id="wrapper">
        @fixedStockLayout(category)
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@product_info.name</h1>

                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Current Quantity: &nbsp;@product_info.quantity
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Image</th>
                                                    <th>Name</th>
                                                    <th>EAN</th>

                                                    <th>Price</th>

                                                    <th>Discount</th>
                                                    <th>Status</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if(product_info.quantity < 10){
                                                    <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                                                }
                                                @if(product_info.if_valid == 0){
                                                    <tr href="#" style="background-color:dimgrey; color: white">
                                                }

                                                @if(product_info.if_expiring == 1){
                                                    <tr href="#" style="background-color:orangered; color: white">
                                                }

                                                @if(product_info.if_valid != 0 && product_info.quantity >= 10 && product_info.if_expiring == 0){
                                                    <tr href="#" style="background-color: transparent">
                                                    }

                                                <td>@product_info.id_product</td>
                                                <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@product_info.id_image-medium_default.jpg"></td>
                                                <td>@product_info.name</td>
                                                <td>@product_info.ean</td>
                                                <td>@BigDecimal.valueOf(product_info.price.doubleValue()*product_info.tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                <td>@product_info.reduction_type
                                                <br>
                                                @product_info.reduction
                                                </td>
                                                @if(product_info.if_valid == 0){
                                                    <td>Disabled</td>
                                                }else{
                                                    <td>On sale</td>
                                                }
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Add Location Information
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <tbody>
                                            @helper.form(routes.StockAPI.addLocationToProduct(product_info.id_product)) {
                                                <tr>
                                                    <td>Zone</td>
                                                    <td><select name="expiry_date" class="form-control" value="@keyWordForm("expiry_date").value">
                                                        <option value=""></option>
                                                        <option value="FR1">FR 1</option>
                                                        <option value="FR2">FR 2</option>
                                                        <option value="FR3">FR 3</option>
                                                        <option value="FR4">FR 4</option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                        <option value="D">D</option>
                                                        <option value="E">E</option>
                                                        <option value="F">F</option>
                                                        <option value="G">G</option>
                                                        <option value="H">H</option>
                                                        <option value="I">I</option>
                                                        <option value="J">J</option>
                                                        <option value="K">K</option>
                                                        <option value="Z">Z</option>
                                                        <option value="NF">NF</option>
                                                    </select>
                                                    </td>

                                                </tr>
                                                <tr style="display: none">
                                                    <td>Layer</td>
                                                    <td><select name="if_on_sale" class="form-control" value="@keyWordForm("if_on_sale").value">
                                                        <option value=""></option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="N/A">N/A</option>
                                                    </select>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Part</td>
                                                    <td><select name="person_add" class="form-control" value="@keyWordForm("person_add").value">
                                                            <option value=""></option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="N/A">N/A</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Position Number</td>
                                                    <td><select name="quantity" class="form-control" value="@keyWordForm("quantity").value">
                                                        <option value=""></option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                        <option value="32">32</option>
                                                        <option value="33">33</option>
                                                        <option value="34">34</option>
                                                        <option value="35">35</option>
                                                        <option value="36">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="40">40</option>
                                                        <option value="41">41</option>
                                                        <option value="42">42</option>
                                                        <option value="43">43</option>
                                                        <option value="44">44</option>
                                                        <option value="45">45</option>
                                                        <option value="46">46</option>
                                                        <option value="47">47</option>
                                                        <option value="48">48</option>
                                                        <option value="49">49</option>
                                                        <option value="50">50</option>
                                                        <option value="51">51</option>
                                                        <option value="52">52</option>
                                                        <option value="53">53</option>
                                                        <option value="54">54</option>
                                                        <option value="55">55</option>
                                                        <option value="56">56</option>
                                                        <option value="57">57</option>
                                                        <option value="58">58</option>
                                                        <option value="59">59</option>
                                                        <option value="60">60</option>
                                                        <option value="61">61</option>
                                                        <option value="N/A">N/A</option>
                                                    </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <button type="submit">Submit</button>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>

            </div>
                <!-- /.row -->
        </div>
            <!-- /#page-wrapper -->

    </div>
        <!-- /Wrapper -->
}
