@(personForm: Form[controllers.StockAPI.OnSalePerson])(product_info: models.sqlContainer.StockManagementProduct)(all_backups: List[models.database.StockProduct])(keyWordForm: Form[controllers.StockAPI.SearchBox])(expiry_dates: List[String])(all_abandons:List[models.database.StockAbandon])(abandon_expires: List[String])(now_and_former: List[models.database.StockProduct] )(product_location: String)(category: List[sqlContainer.Category])
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
    <div id="wrapper">
        @fixedStockLayout(category)
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@product_info.name &nbsp;
                    <a href="/api/a2bliving/ProductsStock/ProductStock_Add/@product_info.id_product"><i class="fa fa-cart-plus" style="float: right" aria-hidden="true">Add</i></a>
                    </h1>
                    <a href="/api/a2bliving/ProductsStock/ProductStock_Abandon/@product_info.id_product"><i class="fa fa-trash" style="float: right" aria-hidden="true">Expired</i></a>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Search Box

                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>EAN</th>
                                                    <th>Status</th>
                                                    <th>Expiry Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            @helper.form(routes.StockAPI.conditionalSearch()) {
                                                <th style="width: 100px"><input type="text" name = "productID" class="form-control"  value="@keyWordForm("productID").value"></th>
                                                <th><input type="text" name = "productName" class="form-control"  value="@keyWordForm("productName").value"></th>
                                                <th><input type="text" name = "ean" class="form-control"  value="@keyWordForm("ean").value"></th>
                                                <th style="width: 120px">
                                                    <select name = "if_valid" class="form-control" value="@keyWordForm("if_valid").value">
                                                        <option value="unSelected"></option>
                                                        <option value="onsale">On Sale</option>
                                                        <option value="disabled">Disabled</option>
                                                    </select>
                                                </th>

                                                <th style="width: 100px"><input type="date" name = "expiryDate" placeholder="Expiry Date" value="@keyWordForm("expiryDate").value"></th>
                                                <th>
                                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                                </th>
                                            }
                                            </tr>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-12 -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>

                </div>

            </div>
                <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Product Information
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Image</th>
                                                    <th>EAN</th>
                                                    <th>Category</th>
                                                    <th>Current Price</th>
                                                    <th>Quantity</th>
                                                    <th>Discount</th>
                                                    <th>Status</th>
                                                    <th>Expiry Date</th>
                                                    <th>Location</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    @if(product_info.quantity < 10){
                                                        <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                                                    }
                                                    @if(product_info.if_valid == 0){
                                                        <tr href="#" style="background-color:dimgrey; color: white">
                                                    }
                                                    @if(product_info.if_expiring == 1){
                                                        <tr href="#" style="background-color:orangered; color: white">
                                                    }

                                                    @if(product_info.if_valid != 0 && product_info.quantity >= 10 && product_info.if_expiring == 0){
                                                        <tr href="#" style="background-color: transparent">
                                                        }

                                                    <td>@product_info.id_product</td>
                                                    <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@product_info.id_image-small_default.jpg">
                                                        <br>
                                                        <input style="color:mediumslateblue" type=button onClick="window.open('/api/a2bliving/ProductsStock/checkSales?id_product=@product_info.id_product',
                                                                '_blank')"  value='Sales History'>
                                                    </td>
                                                    <td>@product_info.ean</td>
                                                    <td>@product_info.category_name</td>
                                                    <td>@BigDecimal.valueOf(product_info.price.doubleValue()*product_info.tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@product_info.quantity</td>
                                                    <td>@product_info.reduction_type
                                                    <br>
                                                    @product_info.reduction
                                                    </td>
                                                    @if(product_info.if_valid == 0){
                                                        <td>Disabled</td>
                                                    }else{
                                                        <td>On sale</td>
                                                    }
                                                    <td>@product_info.expiryDate <br>
                                                        <input style="color: saddlebrown" type=button onClick="location.href='/api/a2bliving/ProductsStock/ProductStock_Expiry/@product_info.id_product'" value='Edit Expiry Date'>
                                                    </td>
                                                    <td>@product_location <br>
                                                        <input style="color: saddlebrown" type=button onClick="location.href='/api/a2bliving/ProductsStock/ProductStock_Location/@product_info.id_product'" value='Edit Location'>
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until now_and_former.size) {
                                                    <tr href="#" style="background-color: lightyellow">
                                                        <td>@(i+1)</td>
                                                        <td>@now_and_former.get(i).person_in_charge</td>
                                                        <td>@now_and_former.get(i).quantity</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->


                        </div>
                            <!-- /.panel-body -->
                    </div>

                </div>

            </div>
                <!-- /.row -->




            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Extra Inventory
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Add_Date</th>
                                                    <th>Quantity</th>
                                                    <th>Expiry Date</th>

                                                    <th>Staff Name</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until all_backups.size) {
                                                <tr href="#" style="background-color: lightyellow">


                                                    <td>@(i+1)</td>
                                                    <td>@all_backups.get(i).date_add</td>
                                                    <td>@all_backups.get(i).quantity</td>
                                                    <td>@expiry_dates.get(i)</td>
                                                    <td>@all_backups.get(i).person_in_charge</td>

                                                    @if(personForm.hasGlobalErrors) {
                                                        <p class="error">
                                                        @personForm.globalError.message
                                                        </p>
                                                    }

                                                    @if(i==0) {

                                                    @helper.form(routes.StockAPI.addStockToSale(all_backups.get(i).id_stock_product,all_backups.get(i).id_product)) {
                                                        <td>
                                                            <input type="text" name="staff_name" placeholder="enter your name..." value="@personForm("staff_name").value">
                                                        </td>
                                                        <td>
                                                            <button type="submit">Add to Sale</button>
                                                        </td>
                                                    }

                                                    }

                                                </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                         <!-- /.panel-default -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Abandoned History
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Add_Date</th>
                                                    <th>Quantity</th>
                                                    <th>Expiry Date</th>

                                                    <th>Staff Name</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until all_abandons.size) {
                                                    <tr href="#" style="background-color: lightpink">
                                                        <td>@(i+1)</td>
                                                        <td>@all_abandons.get(i).date_add</td>
                                                        <td>@all_abandons.get(i).quantity</td>
                                                        <td>@abandon_expires.get(i)</td>
                                                        <td>@all_abandons.get(i).person_in_charge</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                    <!--/.panel-default -->
                </div>
                    <!-- /. col-12-->
            </div>
                <!-- /.row -->
        </div>
            <!-- /#page-wrapper -->
    </div>
        <!-- /Wrapper -->
}
