@(all_products: List[models.sqlContainer.StockManagementProduct])(keyWordForm: Form[controllers.StockAPI.SearchBox])(category: List[sqlContainer.Category])
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
    <div id="wrapper">
        @fixedStockLayout(category)
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Products In Stock &nbsp;
                        <a href="/api/a2bliving/ProductsStock/searchByLocation"><i class="fa fa-search" style="float: right" aria-hidden="true">Location</i></a></h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> PRODUCTS &nbsp;<u> @all_products.size()</u>
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Image</th>
                                                    <th>Name</th>
                                                    <th>EAN</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Discount</th>
                                                    <th>Status</th>
                                                    <th>Expiry Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            @helper.form(routes.StockAPI.conditionalSearch()) {
                                                <th style="width: 100px"><input type="text" name = "productID" class="form-control"  value="@keyWordForm("productID").value"></th>
                                                <th></th>
                                                <th><input type="text" name = "productName" class="form-control"  value="@keyWordForm("productName").value"></th>
                                                <th><input type="text" name = "ean" class="form-control"  value="@keyWordForm("ean").value"></th>
                                                @*<th><input type="text" name = "category" class="form-control"  value="@keyWordForm("category").value"></th>*@
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th style="width: 120px">
                                                    <select name = "if_valid" class="form-control" value="@keyWordForm("if_valid").value">
                                                    <option value="unSelected"></option>
                                                    <option value="onsale">On Sale</option>
                                                    <option value="disabled">Disabled</option>
                                                    </select>
                                                </th>

                                                <th style="width: 100px"><input type="date" name = "expiryDate" placeholder="Expiry Date" value="@keyWordForm("expiryDate").value"></th>
                                                <th>
                                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                                </th>
                                            }
                                            </tr>

                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until all_products.size) {
                                                    @if(all_products.get(i).quantity < 10){
                                                    <tr href="#" style="background-color: transparent; color: darkorange; font-weight: bold">
                                                    }
                                                    @if(all_products.get(i).if_valid == 0){
                                                    <tr href="#" style="background-color:dimgrey; color: white">
                                                    }

                                                    @if(all_products.get(i).if_expiring == 1){
                                                        <tr href="#" style="background-color:orangered; color: white">
                                                    }

                                                    @if(all_products.get(i).if_valid != 0 && all_products.get(i).quantity >= 10 && all_products.get(i).if_expiring == 0){
                                                    <tr href="#" style="background-color: transparent">
                                                    }

                                                    <td>@all_products.get(i).id_product</td>
                                                    <td><img src="https://www.a2bliving.ie/cork/img/p/9/0/9/@all_products.get(i).id_image-small_default.jpg">
                                                        <br>
                                                    <input style="color:mediumslateblue" type=button onClick="window.open('/api/a2bliving/ProductsStock/checkSales?id_product=@all_products.get(i).id_product',
                                                                '_blank')"  value='Sales History'></td>
                                                    <td>@all_products.get(i).name</td>
                                                    <td>@all_products.get(i).ean  <br>
                                                        @*location.href='/api/a2bliving/ProductsStock/ProductStock_Location/@all_products.get(i).id_product'*@
                                                    <input style="color: saddlebrown" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Location/@all_products.get(i).id_product',
                                                            '_blank')"  value='Edit Location'>
                                                    </td>
                                                    <td>@BigDecimal.valueOf(all_products.get(i).price.doubleValue()*all_products.get(i).tax_rate.doubleValue()).setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@all_products.get(i).quantity</td>
                                                    <td>@all_products.get(i).reduction_type <br>
                                                    @all_products.get(i).reduction
                                                    </td>
                                                    @if(all_products.get(i).if_valid == 0){
                                                        <td>Disabled</td>
                                                    }else{
                                                        <td>On sale</td>
                                                        }
                                                    <td>@all_products.get(i).expiryDate
                                                    <br>
                                                        @*/api/a2bliving/ProductsStock/ProductStock_Expiry/@all_products.get(i).id_product*@
                                                    <input style="color: saddlebrown" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Expiry/@all_products.get(i).id_product',
                                                            '_blank')" value='Edit Expiry Date'>
                                                    </td>
                                                    @*/api/a2bliving/ProductsStock/ProductInformation/@all_products.get(i).id_product*@
                                                    <td><input style="color: dodgerblue" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductInformation/@all_products.get(i).id_product',
                                                            '_blank')" value='Info'> <br><br>
                                                        @*/api/a2bliving/ProductsStock/ProductStock_Add/@all_products.get(i).id_product*@
                                                        <input style="color: black" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Add/@all_products.get(i).id_product',
                                                            '_blank')" value='Add'>  <br><br>
                                                        @*/api/a2bliving/ProductsStock/ProductStock_Abandon/@all_products.get(i).id_product*@
                                                        <input style="color: red" type=button onClick="window.open('/api/a2bliving/ProductsStock/ProductStock_Abandon/@all_products.get(i).id_product',
                                                            '_blank')" value='Expired'>
                                                    </td>
                                                </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>

                </div>

            </div>
                <!-- /.row -->
        </div>
            <!-- /#page-wrapper -->

    </div>
        <!-- /Wrapper -->
}
