@(customerOrderForm: Form[controllers.CustomerService.SearchCustomerOrder])
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Search Customer Order</h1>

        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-table fa-fw"></i>Customer & Order Information
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>
                                    @helper.form(routes.CustomerService.searchCustomerOrder()) {
                                        <tr>
                                            <td><b>Order No.</b></td>
                                            <td>
                                                <input type="number" name = "order_number" class="form-control" value="@customerOrderForm("order_number").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Phone Number</b></td>
                                            <td>
                                                <input type="number" name = "phone_number" class="form-control" value="@customerOrderForm("phone_number").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Address</b></td>
                                            <td>
                                                <input type="textarea" name = "address"  class="form-control" value="@customerOrderForm("address").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Customer Name On Order</b></td>
                                            <td>
                                                <input type="text" name = "customer_name" class="form-control" value="@customerOrderForm("customer_name").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Email</b> (Not Applicable to Phone Orders)</td>
                                            <td>
                                                <input type="email" name = "email" class="form-control" value="@customerOrderForm("email").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Order Price</b></td>
                                            <td>
                                                <input type="double" name = "order_price"  class="form-control"value="@customerOrderForm("order_price").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Start Time</b></td>
                                            <td>
                                                <input type="date" name = "start_time" class="form-control" value="@customerOrderForm("start_time").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>End Time</b></td>
                                            <td>
                                                <input type="date" name = "end_time" class="form-control" value="@customerOrderForm("end_time").value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="2" style="float: right;">
                                                <button class="btn-danger" type="submit" formtarget="_blank">Search Orders</button>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                                <!-- /.table-responsive -->
                        </div>
                            <!-- /.col-lg-4 (nested) -->
                    </div>
                        <!-- /.row -->
                </div>
                    <!-- /.panel-body -->
            </div>
        </div>

    </div>
        <!-- /.row -->
}
