@(all_address: List[models.database.Address])(all_orders: List[models.sqlContainer.CustomerServiceOrderInfo])(customer_name: String)(container_two: models.template.DeliverySummary)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@customer_name  &nbsp; @container_two.delivery_type  &nbsp;
                        <p style="float: right" aria-hidden="true">Total Orders: @all_orders.size() &nbsp; Total Spent: €@container_two.total_shipping.setScale(2, BigDecimal.ROUND_HALF_UP)</p></h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-home fa-fw"></i>Addresses &nbsp;<u> @all_address.size()</u>
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Alias</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Address 1</th>
                                                    <th>Address 2</th>
                                                    <th>Phone</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until all_address.size) {
                                                <tr href="#" style="background-color: transparent">
                                                    <td>@all_address.get(i).alias</td>
                                                    <td>@all_address.get(i).firstname</td>
                                                    <td>@all_address.get(i).lastname</td>
                                                    <td>@all_address.get(i).address1</td>
                                                    <td>@all_address.get(i).address2</td>
                                                    <td>@all_address.get(i).phone</td>
                                                </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>
            </div>
                <!-- /.row -->
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-table fa-fw"></i>Total Orders &nbsp;<u> @all_orders.size()</u>
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Reference</th>
                                            <th>Payment</th>
                                            <th>Price</th>
                                            <th>Delivery</th>
                                            <th>Time</th>
                                            <th>Shop</th>
                                            <th>Products</th>
                                            <th>Voucher</th>
                                            <th>Voucher Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*for loop here*@
                                        @for(i <- 0 until all_orders.size) {
                                            <tr href="#" style="background-color: transparent">
                                                <td>@all_orders.get(i).id_order</td>
                                                <td>@all_orders.get(i).order_reference</td>
                                                <td>@all_orders.get(i).payment</td>
                                                <td>@all_orders.get(i).total_paid_real.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                <td>@all_orders.get(i).total_shipping.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                <td>@all_orders.get(i).successful_time.toString</td>
                                                <td>@all_orders.get(i).id_shop</td>
                                                <td>
                                                    <ul>
                                                    @for(j <- 0 until all_orders.get(i).bought_products.size()) {
                                                        <li>
                                                            @all_orders.get(i).bought_products.get(j).product_name
                                                            &nbsp;
                                                            *@all_orders.get(i).bought_products.get(j).quantity
                                                        </li>
                                                    }
                                                    </ul>
                                                </td>
                                                <td>
                                                @if(all_orders.get(i).driver_name !=null){
                                                   @all_orders.get(i).driver_name
                                                }else{
                                                N/A
                                                }
                                                </td>
                                                <td>
                                                @if(all_orders.get(i).total_discounts !=null){
                                                    @all_orders.get(i).total_discounts.setScale(2, BigDecimal.ROUND_HALF_UP)
                                                }else{
                                                    N/A
                                                }
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                                <!-- /.table-responsive -->
                        </div>
                            <!-- /.col-lg-4 (nested) -->

                    </div>
                        <!-- /.row -->
                </div>
                    <!-- /.panel-body -->
            </div>
        </div>
    </div>
        <!-- /.row -->
}
