@(dateForm: Form[controllers.StatisticsAPI.PickDate])(rankingProducts: List[models.sqlContainer.DiscountOrders])(summary: models.sqlContainer.BrandSummary)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {

    @fixedLayout()
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                    @if(dateForm("productType").value.toString.equals("")){SHOP}
                        @dateForm("productType").value.toString.toUpperCase() Products Ranking
                    </h2>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="container">
                <div class="row ">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3 class="head-title text-left">Choose time period below</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                    @helper.form(routes.StatisticsAPI.postShopProductRanking()) {
                        <p>
                            From<input type="date" name="startDate" placeholder="Start date" value="@dateForm("startDate").value">
                        </p>
                        <p>
                            To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@dateForm("endDate").value">
                        </p>


                        <p style="display: none">
                            <input type="text" name="product_type" placeholder="product type" value="@dateForm("productType").value">
                        </p>


                        <p>
                            <button type="submit">Search</button>
                        </p>
                    }
                    </div>
                </div>
            </div>



                <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                        <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Delivery details
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:lightgoldenrodyellow">
                                                    <th>NO.</th>
                                                    <th>Product Name</th>
                                                    <th>Sold Quantity</th>
                                                    <th>Total Sales</th>
                                                    <th>Total Original Value</th>
                                                    <th>Original Unit Price</th>
                                                    <th>Total Discount</th>
                                                    <th>Tax Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*for loop here*@
                                                @for(i <- 0 until rankingProducts.size) {
                                                <tr href="#" style="background-color: lavenderblush">
                                                    <td>@(i+1)</td>
                                                    <td>@rankingProducts.get(i).product_name</td>
                                                    <td>@rankingProducts.get(i).product_quantity</td>
                                                    <td>@rankingProducts.get(i).total_price_tax_incl.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@rankingProducts.get(i).original_unit_price.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@rankingProducts.get(i).original_product_price.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@rankingProducts.get(i).total_product_discount.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                    <td>@rankingProducts.get(i).tax_type</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                            </div>
                                <!-- /.row -->
                            <div class="row col-lg-12">
                                <div class = "col-md-6 col-sm-6 col-xs-6">
                                    <i class="fa fa-calculator fa-fw"></i> Total products
                                    <span class="pull-right text-muted small"><em>@summary.number_of_piece</em>
                                    </span>
                                </div>
                                <div class = "col-md-6 col-sm-6 col-xs-6">
                                    <i class="fa fa-money fa-fw"></i> Total Sales
                                    <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@summary.total_sales</em>
                                    </span>
                                </div>
                            </div>
                        </div>
                            <!-- /.panel-body -->
                    </div>
                        <!-- /.panel -->
                </div>

                    <!-- /.col-lg-12 -->
            </div>




        </div>
            <!-- /#page-wrapper -->
    </div>
        <!-- /#wrapper -->

}
