@(form: Form[controllers.StatisticsAPI.PickDate])(brands: List[models.sqlContainer.BrandSummary])(brandSummary: List[models.sqlContainer.DiscountSummary])(total_orders: Int)(productVoucher: models.sqlContainer.DiscountSummary)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
@fixedLayout()
<div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Products statistics</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="container">
                <div class="row ">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3 class="head-title text-left">Choose time period below</h3>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-6">
                    @helper.form(routes.StatisticsAPI.searchProducts()) {
                        <p>
                            From<input type="date" name="startDate" placeholder="Start date" value="@form("startDate").value">
                        </p>
                        <p>
                            To &nbsp;&nbsp;<input type="date" name="endDate" placeholder="End date"value="@form("endDate").value">
                        </p>

                        <p>
                            <button type="submit">Search</button>
                        </p>
                    }

                    </div>
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="@routes.Assets.at("images/shop.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(0).number_of_piece</div>
                                    <div>Shop products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(0).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        @*shop products Ranking*@
                        <a href ="/api/a2bliving/1/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @*<i class="fa fa-pie-chart fa-5x"></i>*@
                                    <img src="@routes.Assets.at("images/pizza.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(1).number_of_piece</div>
                                    <div>Pizza products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(1).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        <a href ="/api/a2bliving/2/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @*<i class="fa fa-shopping-cart fa-5x"></i>*@
                                    <img src="@routes.Assets.at("images/asian.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(2).number_of_piece</div>
                                    <div>Asian products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(2).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        <a href ="/api/a2bliving/3/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @*<i class="fa fa-support fa-5x"></i>*@
                                    <img src="@routes.Assets.at("images/chinese.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(3).number_of_piece</div>
                                    <div>Chinese products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(3).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        <a href ="/api/a2bliving/4/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

                <!-- /.row -->
            @*starter summary*@
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @*<i class="fa fa-support fa-5x"></i>*@
                                    <img src="@routes.Assets.at("images/starter.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(4).number_of_piece</div>
                                    <div>Starter products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(4).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        <a href ="/api/a2bliving/5/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                @*tobacco*@
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @*<i class="fa fa-support fa-5x"></i>*@
                                    <img src="@routes.Assets.at("images/tobacco.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(5).number_of_piece</div>
                                    <div>Tobacco products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(5).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        <a href ="/api/a2bliving/6/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                @*tobacco end*@

                @*lunch*@
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @*<i class="fa fa-support fa-5x"></i>*@
                                    <img src="@routes.Assets.at("images/lunch.png")">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@brands.get(6).number_of_piece</div>
                                    <div>Lunch products!</div>
                                    <div>Total Sales: <i class="fa fa-eur fa-fw"></i>@brands.get(6).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</div>
                                </div>
                            </div>
                        </div>
                        <a href ="/api/a2bliving/7/ManagerSystem/@form("startDate").value.toString/ProductsRanking/@form("endDate").value.toString">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                @*lunch end*@
            </div>
            @*品牌营业额统计结束*@

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Brand Orders Bar Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Type</th>
                                            <th>Orders</th>
                                            <th>Total Sales</th>
                                            <th>Reduction Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr>

                                           <td>@brandSummary.get(0).tax_type</td>
                                           <td>@brandSummary.get(0).product_quantity</td>
                                           <td><i class="fa fa-eur fa-fw"></i>@brands.get(0).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                           <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(0).total_discount</td>
                                       </tr>

                                        <tr>

                                            <td>@brandSummary.get(1).tax_type</td>
                                            <td>@brandSummary.get(1).product_quantity</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brands.get(1).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(1).total_discount</td>
                                        </tr>

                                        <tr>

                                            <td>@brandSummary.get(2).tax_type</td>
                                            <td>@brandSummary.get(2).product_quantity</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brands.get(2).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(2).total_discount</td>
                                        </tr>

                                        <tr>

                                            <td>@brandSummary.get(3).tax_type</td>
                                            <td>@brandSummary.get(3).product_quantity</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brands.get(3).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(3).total_discount</td>
                                        </tr>

                                        <tr>

                                            <td>@brandSummary.get(4).tax_type</td>
                                            <td>@brandSummary.get(4).product_quantity</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brands.get(4).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(4).total_discount</td>
                                        </tr>

                                        <tr>
                                            <td>@brandSummary.get(5).tax_type</td>
                                            <td>@brandSummary.get(5).product_quantity</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brands.get(5).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(5).total_discount</td>
                                        </tr>
                                        <tr>
                                            <td>@brandSummary.get(6).tax_type</td>
                                            <td>@brandSummary.get(6).product_quantity</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brands.get(6).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                            <td><i class="fa fa-eur fa-fw"></i>@brandSummary.get(6).total_discount</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>@total_orders</th>
                                            <th><i class="fa fa-eur fa-fw"></i>@brands.get(0).total_sales.add(brands.get(1).total_sales).add(brands.get(2).total_sales).add(brands.get(3).total_sales).add(brands.get(4).total_sales).add(brands.get(5).total_sales).add(brands.get(6).total_sales).setScale(2, BigDecimal.ROUND_HALF_UP)</th>
                                            <th><i class="fa fa-eur fa-fw"></i>@brandSummary.get(0).total_discount.add(brandSummary.get(1).total_discount).add(brandSummary.get(2).total_discount).add(brandSummary.get(3).total_discount).add(brandSummary.get(4).total_discount).add(brandSummary.get(5).total_discount).add(brandSummary.get(6).total_discount)</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product Voucher Used</th>
                                            <th colspan="2">Total Discount Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="2">@productVoucher.product_quantity</td>
                                        <td colspan="2">@productVoucher.total_discount.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                                <!-- /.table-responsive -->
                        </div>
                            <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-6">
                            <div id="barChart" style="min-width: 310px; height: 400px; margin:0 auto"></div>
                        </div>
                            <!-- /.col-lg-8 (nested) -->
                    </div>
                        <!-- /.row -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->


            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Sales Pie Chart & Bar Chart
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="pieChart" style="min-width: 310px; min-height:400px ;max-height: 600px; max-width: 1000px; margin: 0 auto"></div>
                        </div>
                    </div>
                        <!-- /.row -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->






        </div>
        <!-- /#page-wrapper -->
</div>
  <!-- /#wrapper -->
    <script type="text/javascript">
            // Create the chart
            Highcharts.chart('barChart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Orders of Each Brands'
                },

                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Order Number'
                    },
                    min: 0,
                    max: @total_orders,
                    tickInterval: 5

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: ''
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">Percentage</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b>/@total_orders<br/>'
                },

                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Total Orders',
                        y: @total_orders,

                    }, {
                        name: 'Shop orders',
                        y: @brandSummary.get(0).product_quantity,

                    }, {
                        name: 'Pizza Orders',
                        y: @brandSummary.get(1).product_quantity,

                    }, {
                        name: 'Asian Food Orders',
                        y: @brandSummary.get(2).product_quantity,
                    }, {
                        name: 'Chinese Food Orders',
                        y: @brandSummary.get(3).product_quantity,
                    }, {
                        name: 'Starter Orders',
                        y: @brandSummary.get(4).product_quantity,
                    },{
                        name: 'Tobacco Orders',
                        y: @brandSummary.get(5).product_quantity,
                    },{
                        name: 'Lunch Orders',
                        y: @brandSummary.get(6).product_quantity,
                    }]
                }],
            }); // chart1 finished

            //Pie chart
            Highcharts.chart('pieChart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Total Sales of each brand'
                },
                tooltip: {
                    pointFormat: '{series.name}: €<b>{point.y:.2f}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Products',
                    colorByPoint: true,
                    data: [{
                        name: 'Shop sales',
                        y: @brands.get(0).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Pizza sales',
                        y: @brands.get(1).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Asian food',
                        y: @brands.get(2).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Chinese food',
                        y: @brands.get(3).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Starter',
                        y: @brands.get(4).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Tobacco',
                        y:@brands.get(5).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Lunch',
                        y:@brands.get(6).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP),
                        sliced: true,
                        selected: true
                    }]
                }]
            });
</script>
}
