@(totalReturnDriverOrder: models.database.TotalReturnDriverOrder)(id_cashier:Int)(date:String)(paid_to_driver: List[models.database.CashierDriver])(total_delivery: Double)(final_cash: Double)(marina_paid_delivery: Int)(driver_salary: List[models.database.DriverDailySummary])(salary_till: models.database.TotalReturnManagerOrder)
@import java.util.List
@import java.math.BigDecimal
@printTemplate("A2B Living") {
    <p style="text-align:center; font-weight: bold">Daily Cashier Summary &nbsp; Time:@date</p>
@*<p>@message</p>*@
    @*<table>*@
        @*<thead>*@
            @*<tr>*@
                @*<th>&nbsp;NO.</th>*@
                @*<th>Name</th>*@
                @*<th>&nbsp;orderID</th>*@
                @*<th>&nbsp;Reference</th>*@
                @*<th>&nbsp;Cash</th>*@
            @*</tr>*@
        @*</thead>*@
        @*<tbody>*@
    <p style="font-weight: bold"><label style="width:90px">NO.</label>
        <label style="width:90px">Name</label>
        <label style="width:90px">&nbsp;ID</label>
        <label style="width:40px">&nbsp;Cash</label></p>
        @for(i <- 0 until totalReturnDriverOrder.driverOrders.size) {
            @*<tr>*@
                @*<td> @totalReturnDriverOrder.driverOrders.get(i).order_number</td>*@
                @*<td> @totalReturnDriverOrder.driverOrders.get(i).driver_name</td>*@
                @*<td> @totalReturnDriverOrder.driverOrders.get(i).id_order</td>*@
                @*<td> &nbsp;@totalReturnDriverOrder.driverOrders.get(i).order_reference</td>*@
                @*<td> &nbsp;@totalReturnDriverOrder.driverOrders.get(i).total_paid_real</td>*@
            @*</tr>*@
            <p><label style="width:90px">@totalReturnDriverOrder.driverOrders.get(i).order_number</label>
                <label style="width:90px">@totalReturnDriverOrder.driverOrders.get(i).driver_name</label>
                <label style="width:90px">@totalReturnDriverOrder.driverOrders.get(i).id_order</label>
                <label style="width:40px">&nbsp;@totalReturnDriverOrder.driverOrders.get(i).total_paid_real.doubleValue()</label></p>
        }
        @*</tbody>*@
        @*<tr> <td> </td>*@
            @*<td></td>*@
            @*<td></td>*@
            @*<td>Total Cash: @totalReturnDriverOrder.total_sale_cash </td>*@
            @*<td>Order number: @totalReturnDriverOrder.total_numberof_cash_order</td>*@
            @*<td>Cashier ID: @id_cashier</td></tr>*@
    @*</table>*@
    <hr style="print-char:-;"></hr>
    <p style="font-weight: bold"><label style="width:90px">Delivery fee paid to:</label></p>
        <p style="font-weight: bold"><label style="width:120px">Driver</label>
        <label style="width:90px">Online delivery</label>
        <label style="width:90px">Quantity</label></p>
    @for(i <- 0 until paid_to_driver.size) {
        @*<tr>*@
        @*<td> @totalReturnDriverOrder.driverOrders.get(i).order_number</td>*@
        @*<td> @totalReturnDriverOrder.driverOrders.get(i).driver_name</td>*@
        @*<td> @totalReturnDriverOrder.driverOrders.get(i).id_order</td>*@
        @*<td> &nbsp;@totalReturnDriverOrder.driverOrders.get(i).order_reference</td>*@
        @*<td> &nbsp;@totalReturnDriverOrder.driverOrders.get(i).total_paid_real</td>*@
        @*</tr>*@
        <p><label style="width:90px">@paid_to_driver.get(i).name</label>
            <label style="width:90px">&nbsp;@paid_to_driver.get(i).delivery_fee_paid</label>&nbsp;&nbsp;
            <label style="width:90px">&nbsp;&nbsp;@paid_to_driver.get(i).number_of_onlinepayment</label>
            @*<label style="width:90px">@totalReturnDriverOrder.driverOrders.get(i).order_reference</label>*@
            @*<label style="width:40px">&nbsp;@totalReturnDriverOrder.driverOrders.get(i).total_paid_real.doubleValue()</label>*@
        </p>
    }

    <hr style="print-char:-;"></hr>
    <p style="font-weight: bold"><label style="width:90px">Driver Salary:</label></p>
    <p style="font-weight: bold"><label style="width:90px">Driver</label>
        <label style="width:90px">Salary</label>
        <label style="width:90px">Extra</label>
        <label style="width:90px">Till</label>
        <label style="width:90px">Voucher</label>
    </p>
    @for(i <- 0 until driver_salary.size) {
        @*<tr>*@
        @*<td> @totalReturnDriverOrder.driverOrders.get(i).order_number</td>*@
        @*<td> @totalReturnDriverOrder.driverOrders.get(i).driver_name</td>*@
        @*<td> @totalReturnDriverOrder.driverOrders.get(i).id_order</td>*@
        @*<td> &nbsp;@totalReturnDriverOrder.driverOrders.get(i).order_reference</td>*@
        @*<td> &nbsp;@totalReturnDriverOrder.driverOrders.get(i).total_paid_real</td>*@
        @*</tr>*@
        <p><label style="width:90px">@driver_salary.get(i).name</label>
            <label style="width:90px">@driver_salary.get(i).total_wage</label>
            <label style="width:90px">&nbsp;&nbsp;@driver_salary.get(i).extra_cost</label>
            <label style="width:90px">&nbsp;@driver_salary.get(i).money_from_till</label>
            <label style="width:90px">@driver_salary.get(i).total_voucher_value</label>
            @*<label style="width:90px">@totalReturnDriverOrder.driverOrders.get(i).order_reference</label>*@
            @*<label style="width:40px">&nbsp;@totalReturnDriverOrder.driverOrders.get(i).total_paid_real.doubleValue()</label>*@
        </p>
    }
    <hr style="print-char:-;"></hr>
    <p style="text-align:right;font-weight: bold">
        <label>Total Orders Quantity:@totalReturnDriverOrder.total_numberof_cash_order</label>
        <br>
        <label>Total Sales Received:@totalReturnDriverOrder.total_sale_cash.doubleValue()</label>
        <br>
        <label>Total delivery paid:@total_delivery</label>
        <br>
        <label>Marina Park Delivery:@marina_paid_delivery</label>
        <br>
        <label>Total Driver Salary:@salary_till.total_onlinepay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</label>
        <br>
        <label>Total Voucher value:@salary_till.total_onlinepay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</label>
        <br>
        <label>Total Till Back:@salary_till.total_cashpay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</label>
        <br>
        <label>Final Cash Left:@final_cash</label>
        </p>
    <p style="text-align:right;font-weight: bold"><label>Cashier: @id_cashier</label>

}
