@(username: String)
@maptrackermain("A2Bliving")(username)(null)(null){
<div class="container">

<div class="content" style="padding: 0px">
    <div style="background-color:#f5f5f5;padding: 0px;">
        <h1>A2Bliving ChatRoom <small>You are chatting as @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <div>
                <textarea id="talk"></textarea>
            </div>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="@routes.ChatRoomAPI.chatRoomJs(username)"></script>
    </div>
</div>
    
}