@(keyWordForm: Form[controllers.WebAPI.CashierID])
@import java.util.List
@import java.math.BigDecimal

@dashboard("A2B Living") {

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Choose one Tablet &nbsp;
                        <a href="/api/a2bliving/a2bliving/a2bliving"><i class="fa fa-undo" style="float: right" aria-hidden="true"></i></a>
                    </h1>

                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
            <div class="row">
                 <div class="col-lg-12">
                    <div class="panel panel-default">
                        @*<div class="panel-heading">*@
                            @*<i class="fa fa-table fa-fw"></i> Location Info*@
                        @*</div>*@
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" style="font-size: large">
                                            <tbody>
                                            @helper.form(routes.CashierAPI.totalOrdersOfCashier()) {
                                                <tr>
                                                    <td>Tablet Type</td>
                                                    <td><select name="cashier_id" class="form-control" value="@keyWordForm("cashier_id").value">
                                                        <option value=""></option>
                                                        <option value="102">Lenovo (Black)</option>
                                                        <option value="149">Huawei (White)</option>
                                                    </select>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <button type="submit">Submit</button>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                        <!-- /.table-responsive -->
                                </div>
                                    <!-- /.col-lg-4 (nested) -->

                            </div>
                                <!-- /.row -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                </div>

            </div>
                <!-- /.row -->

}
