@(form: Form[WebAPI.CounterLogin])
@import play.data.Form;
@main("A2B Living") {
    <nav class="ui inverted menu">
        <div class="header item"> A2B Living Management</div>
        <div class="right menu">
            <a class="item" href="/api/a2bliving/a2bliving/a2bliving ">Home</a>
        </div>
    </nav>
    <section class="ui raised segment">
        <div class="ui grid">
            <aside class="ui six wide column">
                <img src="@routes.Assets.at("images/cashier_logo.jpg")" class="ui medium image">
            </aside>
            <div class="ui ten wide column fluid form">
                <div class="ui stacked segment">

                    @if(flash.contains("success")) {
                        <p class="success">@flash.get("success")</p>}

                    @if(flash.contains("error")) {
                        <p class="success">@flash.get("error")</p>}

                    @if(form.hasGlobalErrors) {
                        <p class="error">@form.globalError.message</p>}

                    <form action="/api/a2bliving/a2bliving/cashierLogin" method="POST">
                        <h3 class="ui header">Log in</h3>
                        <div class="field">
                            <label>A2B Living Counter</label>
                            @*<input placeholder="Email" type="text" name="email">*@
                            @*<p>chenzhi1111@gmail.com</p>*@
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input placeholder="Password" type="password" name="password">
                        </div>
                        <button class="ui blue submit button">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
} 
    
