@import java.util.List
@import java.math.BigDecimal

@dashboard("A2B Living") {
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i> From A2B Living:
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="@routes.Assets.at("images/a2b_logo.png")" alt="User Avatar" class="img-circle" width="76"/>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Dear Customer,</strong>
                                        </div>
                                        <p>
                                           Your order has been delivered. Thanks for ordering with us.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                            <!-- /.panel-body -->
}
