@(totalReturnManagerOrder: models.database.TotalReturnManagerOrder)(total_orders: Int)(total_sales: Double)(brands: List[models.sqlContainer.BrandSummary])(today: String)(data_loader: models.database.TotalReturnManagerOrder)(extra_delivery_income: models.sqlContainer.DriverPayrollSummary)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
    <div class = "container">
    <h2 style="text-align:center;">A2B Living Daily Summary</h2>
        <p style="text-align: center">Time:@today</p>
        <h4><table class="table">
            <thead>
                <tr>
                    <th><i class="fa fa-calculator fa-fw"></i>Total Order Number</th>
                    <th><i class="fa fa-money fa-fw"></i> Total Sales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@total_orders</td>
                    <td><i class="fa fa-eur fa-fw"></i>@total_sales</td>
                </tr>
            </tbody>
            </table>
        </h4>
    <hr style="print-char:-;"></hr>
    <h3 style="text-align: center">Payment Method:</h3>
        <h4><table class="table">
            <thead>
                <tr>
                    <th><i class="fa fa-credit-card fa-fw"></i>Online payment quantity</th>
                    <th><i class="fa fa-credit-card fa-fw"></i>Online payment sales</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@totalReturnManagerOrder.total_onlinepay_number</td>
                    <td><i class="fa fa-eur fa-fw"></i>@totalReturnManagerOrder.total_onlinepay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>

                </tr>
            </tbody>

            <thead>
                <tr>
                    <th><i class="fa fa-money fa-fw"></i>Cash payment quantity</th>
                    <th><i class="fa fa-money fa-fw"></i>Cash payment sales</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@totalReturnManagerOrder.total_cashpay_number</td>
                    <td><i class="fa fa-eur fa-fw"></i>@totalReturnManagerOrder.total_cashpay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>

                </tr>
            </tbody>
        </table></h4>

    <hr style="print-char:-;"></hr>


    <h3 style="text-align: center">Delivery fees</h3>
        <h4><table class="table">
            <thead>
                <tr>
                    <th><i class="fa fa-credit-card fa-fw"></i><i class="fa fa-car fa-fw"></i>Online delivery fee</th>
                    <th><i class="fa fa-money fa-fw"></i>Total Voucher</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><i class="fa fa-eur fa-fw"></i>@totalReturnManagerOrder.total_onlinepay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                    <td><i class="fa fa-eur fa-fw"></i>@data_loader.total_cashpay_delivery.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
            </tbody>
        </table></h4>

    <hr style="print-char:-;"></hr>


    <h3 style="text-align: center">Products summary:</h3>
        <h4><table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Sales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Shop</td>
                    <td>@brands.get(0).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(0).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
                <tr>
                    <td>Pizza</td>
                    <td>@brands.get(1).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(1).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
                <tr>
                    <td>Asian</td>
                    <td>@brands.get(2).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(2).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
                <tr>
                    <td>Chinese</td>
                    <td>@brands.get(3).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(3).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
                <tr>
                    <td>Starter</td>
                    <td>@brands.get(4).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(4).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
                <tr>
                    <td>Tobacco</td>
                    <td>@brands.get(5).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(5).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>@brands.get(6).number_of_piece</td>
                    <td><i class="fa fa-eur fa-fw"></i>@brands.get(6).total_sales.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                </tr>
            </tbody>
        </table></h4>
    <hr style="print-char:-;"></hr>
        <h3 style="text-align:center;">Final Cash Left: <i class="fa fa-eur fa-fw"></i>
            @data_loader.total_onlinepay_sales.setScale(2, BigDecimal.ROUND_HALF_UP)
        </h3>
        <h3 style="text-align:center;">
            <tr>
                @if(extra_delivery_income.cash_delivery_fee != null){
                    <td>Delivery Income Cash: <i class="fa fa-eur fa-fw"></i>@extra_delivery_income.cash_delivery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                }
                @if(extra_delivery_income.online_delivery_fee != null){
                    <td>Delivery Income Card: <i class="fa fa-eur fa-fw"></i>@extra_delivery_income.online_delivery_fee.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                }
            </tr>
        </h3>
    </div>
}
