@(driverOrders: List[models.database.DriverOrders])
@import java.util.List
@dashboard("A2B Living") {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Unpaid Orders</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->

                        <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Orders unpaid by drivers
                                    <div class="pull-right"> @driverOrders.size()
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Driver</th>
                                                            <th>Order Number</th>
                                                            <th>Assigned Time</th>
                                                         </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*for loop here*@
                                                        @for(i <- 0 until driverOrders.size) {
                                                                <tr href="#" style="background-color: lightpink;">
                                                                <td>@driverOrders.get(i).driver_name</td>
                                                                <td>@driverOrders.get(i).order_number</td>
                                                                <td>@driverOrders.get(i).date_add</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>

                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-12 -->

                    </div>
                        <!-- /.row -->
}
