@(totalReturnDriverOrder: models.database.TotalReturnDriverOrder)(this_driver: models.database.Driver)(driver_summary: models.database.DriverDailySummary)
@import java.math.BigDecimal;
@dashboard("A2B Living") {
    <div class = "container">

        <h2 style="text-align:center;">@this_driver.name Daily Summary</h2>
        <h2 style="text-align:center;">@this_driver.password
        &nbsp; @if(driver_summary.if_company_car == 1){
                Own Car
                }else{
                Company Car
                }
        </h2>
        <h4><table class="table">
            <thead>
                <tr>
                    <th><i class="fa fa-calculator fa-fw"></i>Total Order Number</th>
                    <th><i class="fa fa-money fa-fw"></i> Total Cash Sales</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@totalReturnDriverOrder.driverOrders.size()</td>
                    <td><i class="fa fa-eur fa-fw"></i>@totalReturnDriverOrder.total_sale_cash.setScale(2, BigDecimal.ROUND_DOWN)</td>

                </tr>
            </tbody>

            <thead>
                <tr>
                    <th><i class="fa fa-money fa-fw"></i>Money From Till</th>
                    <th><i class="fa fa-money fa-fw"></i>Extra Cost</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><i class="fa fa-eur fa-fw"></i>@driver_summary.money_from_till</td>
                    <td><i class="fa fa-eur fa-fw"></i>@driver_summary.extra_cost &nbsp;@driver_summary.specification</td>
                </tr>
            </tbody>

        </table>
        </h4>
        <hr style="print-char: -;"></hr>
        @if(driver_summary.if_company_car == 1) {
              <h3 style="text-align: center">Delivery Compensation</h3>
            <h4><table class="table">
                <thead>
                    <tr>
                        <th><i class="fa fa-money fa-fw"></i>Marina Delivery Fee</th>
                        <th><i class="fa fa-credit-card fa-fw"></i><i class="fa fa-money fa-fw"></i>
                            Online Delivery Fee</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><i class="fa fa-eur fa-fw"></i>@totalReturnDriverOrder.marina_orders</td>
                        <td><i class="fa fa-eur fa-fw"></i>@totalReturnDriverOrder.total_shipping_online.setScale(2, BigDecimal.ROUND_DOWN)</td>
                    </tr>
                </tbody>
            </table>
            </h4>
        }else{
            <h3 style="text-align: center">Order Delivery Fee</h3>
            <h4><table class="table">
                <thead>
                    <tr>
                        <th><i class="fa fa-money fa-fw"></i>Cash Order Delivery</th>
                        <th><i class="fa fa-credit-card fa-fw"></i><i class="fa fa-money fa-fw"></i>
                            Online Order Delivery</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><i class="fa fa-eur fa-fw"></i>@totalReturnDriverOrder.total_shipping_cash.setScale(2, BigDecimal.ROUND_DOWN)</td>
                        <td><i class="fa fa-eur fa-fw"></i>@totalReturnDriverOrder.total_shipping_online.setScale(2, BigDecimal.ROUND_DOWN)</td>
                    </tr>
                </tbody>
            </table>
            </h4>
        }
        @*</tbody>*@
        @*<tr> <td> </td>*@
        @*<td></td>*@
        @*<td></td>*@
        @*<td>Total Cash: @totalReturnDriverOrder.total_sale_cash </td>*@
        @*<td>Order number: @totalReturnDriverOrder.total_numberof_cash_order</td>*@
        @*<td>Cashier ID: @id_cashier</td></tr>*@
        @*</table>*@
        <hr style="print-char:-;"></hr>
        <h3 style="text-align: center">Daily Wage</h3>
        <h4><table class="table">
            <thead>
                <tr>
                    <th><i class="fa fa-clock-o fa-fw"></i>Start work time</th>
                    <th><i class="fa fa-clock-o fa-fw"></i>Finish  work time</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@this_driver.last_login</td>
                    <td>@this_driver.app_last_logout</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th><i class="fa fa-clock-o fa-fw"></i>Working Hours</th>
                    <th><i class="fa fa-money fa-fw"></i>Total Wage</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@driver_summary.working_hours</td>
                    <td><i class="fa fa-eur fa-fw"></i>@driver_summary.total_wage</td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th><i class="fa fa-money fa-fw"></i>Total Voucher value</th>
                    <th><i class="fa fa-money fa-fw"></i>Total to return:</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><i class="fa fa-eur fa-fw"></i>@driver_summary.total_voucher_value.setScale(2, BigDecimal.ROUND_DOWN)</td>
                    <td><i class="fa fa-eur fa-fw"></i>@driver_summary.total_cash_left.setScale(2, BigDecimal.ROUND_DOWN)</td>
                </tr>
            </tbody>
        </table></h4>

        <hr style="print-char:-;"></hr>
        <h3 style="text-align: left">Company Total Salary: <i class="fa fa-eur fa-fw"></i>@totalReturnDriverOrder.unpaid_amount</h3>

        <h3 style="text-align: left">Driver Signature:</h3>

        <br></br>

        <hr style="print-char:-;"></hr>
        <h3 style="text-align: left">Counter Signature:</h3>
        <br></br>

        <hr style="print-char:-;"></hr>
        <h3 style="text-align: left"></h3>
        <h4><table class="table">
            <thead>
                <tr>
                    <th style="text-align: left"></th>
                    <th style="text-align: right">A2B LIVING LTD</th>
                </tr>
            </thead>
        </table></h4>
    </div>
}
