@(workingDrivers: List[models.database.Driver])(date: String)
@import java.util.List
@dashboard("A2B Living") {

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Working Drivers @date&nbsp;
                <a href="/api/a2bliving/a2bliving/a2bliving"><i class="fa fa-undo" style="float: right" aria-hidden="true"></i></a>
            </h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-table fa-fw"></i> Drivers &nbsp;<u> @workingDrivers.size()</u>
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Contact Number</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                @*for loop here*@
                                @for(i <- 0 until workingDrivers.size) {
                                    <tr href="#" style="background-color: transparent">
                                    <td>@workingDrivers.get(i).name &nbsp;
                                    <input style="color: black; float: right" type=button onClick="location.href='/api/a2bliving/a2bliving/driver/@workingDrivers.get(i).id_driver'" value='Checkout'>
                                    </td>
                                    <td>@workingDrivers.get(i).contact_number</td>
                                    </tr>
                                }
                                    </tbody>
                                </table>
                            </div>
                                <!-- /.table-responsive -->
                            <div><a href="/api/a2bliving/ManagerSystem/DriverPayrollDashboard"><i class="fa fa-eur fa-fw"></i>Payroll</a></div>
                        </div>
                            <!-- /.col-lg-12 -->

                    </div>
                        <!-- /.row -->
                </div>
                    <!-- /.panel-body -->
            </div>

        </div>

    </div>
        <!-- /.row -->
}
