@(driverMoney: Form[controllers.DriverAPI.DriverDailyPayroll])(totalReturnDriverOrder: models.database.TotalReturnDriverOrder)(this_driver: models.database.Driver)
@import java.math.BigDecimal
@dashboard("A2B Living") {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Daily Summary &nbsp; @this_driver.password</h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
                    @*Cashier 统计*@
                    <div class="container">
                        <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h3 class="head-title text-center">@totalReturnDriverOrder.driver_name</h3>
                                <p class="head-desc text-center">Start Time: @this_driver.last_login  &nbsp; Finish Time: @this_driver.app_last_logout</p>
                                <p class="head-title text-center" style="color:red ">Overall Working Time: <strong>@this_driver.contact_number Hours</strong></p>
                                <hr class="title-border">
                            </div>
                        </div>
                    </div>

                        <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                                <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>Orders
                                    <div class="pull-right"> @totalReturnDriverOrder.driverOrders.size()
                                    </div>
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr style="background-color:lightgoldenrodyellow">
                                                            <th>Order No.</th>
                                                            <th>Payment</th>
                                                            <th>Address</th>
                                                            <th>Price</th>
                                                            <th>Shipping</th>
                                                         </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*for loop here*@
                                                        @for(i <- 0 until totalReturnDriverOrder.driverOrders.size) {
                                                            @if(totalReturnDriverOrder.driverOrders.get(i).payment.contains("Cash")){
                                                            <tr href="#" style="background-color: lavenderblush">}
                                                            @if(!totalReturnDriverOrder.driverOrders.get(i).payment.contains("Cash")){
                                                            <tr href="#" style="background-color: lightskyblue">
                                                            }
                                                            @if(totalReturnDriverOrder.driverOrders.get(i).if_paid ==0){
                                                                <tr href="#" style="background-color: orangered; color: snow">
                                                            }

                                                                <td>@totalReturnDriverOrder.driverOrders.get(i).order_number</td>
                                                                <td>@totalReturnDriverOrder.driverOrders.get(i).payment</td>
                                                                <td>@totalReturnDriverOrder.driverOrders.get(i).delivery_address</td>
                                                                <td>@totalReturnDriverOrder.driverOrders.get(i).total_paid_real.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                                <td>@totalReturnDriverOrder.driverOrders.get(i).total_shipping.setScale(2, BigDecimal.ROUND_HALF_UP)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                                <!-- /.table-responsive -->
                                        </div>
                                            <!-- /.col-lg-4 (nested) -->
                                    </div>
                                    <div class="row col-lg-12">
                                         <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-calculator fa-fw"></i>Total Cash sales
                                            <span class="pull-right text-muted small"><em>@totalReturnDriverOrder.total_sale_cash.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                         </div>
                                        <div class = "col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-money fa-fw"></i>Marina Delivery
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnDriverOrder.marina_orders</em>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row col-lg-12">
                                        <div class = "col-md-6 col-sm-6 col-xs-6" style="background-color: lightskyblue">
                                            <i class="fa fa-credit-card fa-fw"></i>Online payment orders
                                            <span class="pull-right text-muted small"><em>@totalReturnDriverOrder.total_numberof_online_order</em>
                                            </span>
                                        </div>
                                        <div class = "col-md-6 col-sm-6 col-xs-6" style="background-color: lavenderblush">
                                            <i class="fa fa-money fa-fw"></i>Cash payment orders
                                            <span class="pull-right text-muted small"><em>@totalReturnDriverOrder.total_numberof_cash_order</em>
                                            </span>
                                        </div>
                                    </div>
                                        <!-- /.row -->
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Data summary
                                </div>
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item" style="background-color: lightskyblue">
                                            <i class="fa fa-credit-card fa-fw"></i><i class="fa fa-car fa-fw"></i>Online payment delivery
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnDriverOrder.total_shipping_online.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item" style="background-color: lavenderblush">
                                            <i class="fa fa-money fa-fw"></i><i class="fa fa-car fa-fw"></i>Cash payment delivery
                                            <span class="pull-right text-muted small"><i class="fa fa-eur fa-fw"></i><em>@totalReturnDriverOrder.total_shipping_cash.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>

                                        <a href="#" class="list-group-item" style="background-color: orangered; color: snow">
                                            <strong><i class="fa fa-money fa-fw"></i><i class="fa fa-car fa-fw"></i>Unpaid order Qty</strong>
                                            <span class="pull-right text-muted small" style="color: snow"><em>@totalReturnDriverOrder.unpaid_number</em>
                                            </span>
                                        </a>

                                        <a href="#" class="list-group-item" style="background-color: orangered;color: snow">
                                            <strong><i class="fa fa-money fa-fw"></i><i class="fa fa-car fa-fw"></i>Unpaid order sales</strong>
                                            <span class="pull-right text-muted small"style="color: snow"><i class="fa fa-eur fa-fw"></i><em>@totalReturnDriverOrder.unpaid_amount.setScale(2, BigDecimal.ROUND_HALF_UP)</em>
                                            </span>
                                        </a>
                                        @*<a href="#" class="list-group-item">*@
                                            @*<i class="fa fa-money fa-fw"></i> Payment Received*@
                                            @*<span class="pull-right text-muted small"><em>Yesterday</em>*@
                                            @*</span>*@
                                        @*</a>*@
                                    </div>
                                        @*<!-- /.list-group -->*@
                                    @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                                </div>
                                    <!-- /.panel-body -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                    @helper.form(routes.DriverAPI.driverPrintPage(this_driver.id_driver)) {
                                        <thead>
                                            <tr style="background-color: lightsalmon">
                                                <th>Car Type</th>
                                            <th>@if(this_driver.if_company_car == 0){
                                                Unknown
                                            }else{ @if(this_driver.if_company_car == 1){
                                                Own Car
                                            }else{
                                                Company Car
                                            }
                                            }
                                            </th>
                                                </th>
                                            </tr>
                                            <tr style="background-color: lightgoldenrodyellow">
                                                <th>Money from Till</th>
                                                <th><i class="fa fa-eur fa-fw"></i><input type="text"  name="till_money" value="@driverMoney("till_money").value"></th>
                                            </tr>

                                            <tr style="background-color: lightgoldenrodyellow">
                                                <th>Hourly Wage(€/h)</th>
                                                <th><i class="fa fa-eur fa-fw"></i><input type="text"  name="salary" value="@driverMoney("salary").value">/Hour</th>
                                            </tr>

                                            <tr style="background-color: lightgoldenrodyellow">
                                                <th>Extra cost</th>
                                                <th><i class="fa fa-eur fa-fw"></i><input type="text"  name="extra_cost" value="@driverMoney("extra_cost").value">
                                                <br>
                                                    Specification:<input type="text"  name="specification" value="@driverMoney("specification").value">
                                                </th>
                                            </tr>

                                            <tr style="background-color: lightpink">
                                                <th>Voucher if used</th>
                                                <th>Voucher Quantity:<input type="text"  name="voucher_quantity" value="@driverMoney("voucher_quantity").value">
                                                    <br>
                                                    Total Value:<i class="fa fa-eur fa-fw"></i><input type="text"  name="voucher_total_value" value="@driverMoney("voucher_total_value").value">
                                                </th>
                                            </tr>
                                            <input style="display: none" type="text"  name="working_hours" value="@this_driver.contact_number">
                                            <tr href="#">
                                                <th colspan="2">
                                                    <button type="submit">Print Daily Receipt</button>
                                                </th>
                                            </tr>
                                        </thead>
                                    }
                                    </table>
                                </div>
                                    <!-- /.table-responsive -->
                            </div>
                                <!-- /.panel -->
                        </div>
                            <!-- /.col-lg-4 -->
                    </div>
                        <!-- /.row -->
}
