@(error_message: String)
@import java.util.List
@import java.math.BigDecimal
@dashboard("A2B Living") {
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">@error_message</h1>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->
}
