<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.a2bliving.ie/">A2B Living</a>
    </div>
        <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

                    </ul>


    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="/api/a2bliving/ManagerSystem/print"><i class="fa fa-print fa-fw"></i>Print Daily Summary</a>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href=@routes.WebAPI.logout()><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
                <!-- /.dropdown-user -->
        </li>
            <!-- /.dropdown -->
    </ul>
        <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Statistics<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href=@routes.StatisticsAPI.taxPage()>Tax</a>
                        </li>
                        <li>
                            <a href=@routes.StatisticsAPI.deliveryPage()>Delivery</a>
                        </li>
                        <li>
                            <a href=@routes.StatisticsAPI.discountPage()>Discount</a>
                        </li>
                        <li>
                            <a href=@routes.StatisticsAPI.productsPage()>Product Sales</a>
                        </li>
                        <li>
                            <a href=@routes.ManagerAPI.totalSummaryPage()>Total Summaries</a>
                        </li>
                    </ul>
                        <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Orders Information<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/api/a2bliving/ManagerSystem/ProductsOrders"> Today's Orders</a>
                        </li>
                        <li>
                            <a href="/api/a2bliving/ManagerSystem/showOrdersPage">Search Orders</a>
                        </li>
                    </ul>
                       <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="/api/a2bliving/ManagerSystem/Dashboard "><i class="fa fa-edit fa-fw"></i> Daily Summaries</a>
                </li>
                @*<li>*@
                    @*<a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>*@
                    @*<ul class="nav nav-second-level">*@
                        @*<li>*@
                            @*<a href="panels-wells.html">Panels and Wells</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="buttons.html">Buttons</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="notifications.html">Notifications</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="typography.html">Typography</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="icons.html"> Icons</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="grid.html">Grid</a>*@
                        @*</li>*@
                    @*</ul>*@
                        @*<!-- /.nav-second-level -->*@
                @*</li>*@
                @*<li>*@
                    @*<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>*@
                    @*<ul class="nav nav-second-level">*@
                        @*<li>*@
                            @*<a href="#">Second Level Item</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="#">Second Level Item</a>*@
                        @*</li>*@
                        @*<li>*@
                            @*<a href="#">Third Level <span class="fa arrow"></span></a>*@
                            @*<ul class="nav nav-third-level">*@
                                @*<li>*@
                                    @*<a href="#">Third Level Item</a>*@
                                @*</li>*@
                                @*<li>*@
                                    @*<a href="#">Third Level Item</a>*@
                                @*</li>*@
                                @*<li>*@
                                    @*<a href="#">Third Level Item</a>*@
                                @*</li>*@
                                @*<li>*@
                                    @*<a href="#">Third Level Item</a>*@
                                @*</li>*@
                            @*</ul>*@
                                @*<!-- /.nav-third-level -->*@
                        @*</li>*@
                    @*</ul>*@
                        @*<!-- /.nav-second-level -->*@
                @*</li>*@
            </ul>
        </div>
            <!-- /.sidebar-collapse -->
    </div>
        <!-- /.navbar-static-side -->
</nav>

