@(category: List[sqlContainer.Category])
@import java.util.List
@link(category_id:Int) = @{
    // Generate the link
    routes.StockAPI.productsStockPage(category_id)
}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/api/a2bliving/ProductsStock/dashboard">Inventory System</a>
    </div>
        <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-left">
    <li><a class="navbar-btn" href="/api/a2bliving/ProductsStock/sellOrNot"><i class="fa fa-file-text fa-fw"></i><Strong>Sell Or Not</Strong></a>
    </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li><a class="navbar-btn" href="/api/a2bliving/ProductsStock/discountProducts"><i class="fa fa-sort-amount-desc fa-fw"></i><Strong>Discount Products</Strong></a></li>
        <li><a class="navbar-btn" href="/api/a2bliving/ProductsStock/expiringAlert"><i class="fa fa-exclamation-triangle fa-fw"></i><Strong>About to Expire</Strong></a></li>
        <li><a class="navbar-btn" href="/api/a2bliving/ProductsStock/quantityAlert"><i class="fa fa-battery-quarter fa-fw"></i><Strong>Low Quantity</Strong></a></li>
        <li><a class="navbar-btn" href="/api/a2bliving/ProductsStock/productsWithStock"><i class="fa fa-folder-open fa-fw"></i><Strong>Products in Stock</Strong></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li><a href="/api/a2bliving/ProductsStock/bundleProducts"><i class="fa fa-gear fa-fw"></i> Bundle Sales Rules</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
                <!-- /.dropdown-user -->
        </li>
            <!-- /.dropdown -->
    </ul>
        <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="@link(520)"><i class="fa fa-shopping-basket fa-fw"></i>Special Offer</a>
                </li>
            @for( i <- 0 until category.size){
                @if(null== category.get(i).getSubCategories ||category.get(i).getSubCategories.size()==0){
                    <li>
                        <a href="@link(category.get(i).id_category)"><i class="fa fa-shopping-basket fa-fw"></i>@category.get(i).name</a>
                    </li>
                }else{
                    <li>
                        <a href="#">@category.get(i).name<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        @for( j <- 0 until category.get(i).getSubCategories.size()){
                            @if(null== category.get(i).getSubCategories.get(j).getSubCategories ||category.get(i).getSubCategories.get(j).getSubCategories.size()==0){
                                <li>
                                    <a href="@link(category.get(i).getSubCategories.get(j).id_category)">@category.get(i).getSubCategories.get(j).name</a>
                                </li>
                            }else {
                                <li>
                                    <a href="#">@category.get(i).getSubCategories.get(j).name<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                    @for(k <- 0 until category.get(i).getSubCategories.get(j).getSubCategories.size()) {
                                        <li>
                                            <a href="@link(category.get(i).getSubCategories.get(j).getSubCategories.get(k).id_category)">
                                                @category.get(i).getSubCategories.get(j).getSubCategories.get(k).name</a>
                                        </li>
                                    }
                                    </ul>
                                </li>
                            }
                        }
                        </ul>
                    </li>
                }
             }
            </ul>
        </div>
            <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>