@()
@import java.util.List
@import java.math.BigDecimal

@dashboard("A2B Living") {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Welcome Aboard! </h2>
                        </div>
                            <!-- /.col-lg-12 -->
                    </div>
                        <!-- /.row -->

                    @*<div class="row">*@
                        @*<div class="col-lg-4 col-md-4">*@
                            @*<a href="/api/a2bliving/a2bliving/cashier">*@
                            @*<div class="panel panel-primary">*@

                                @*<div class="panel-heading">*@
                                    @*<div class="row">*@
                                        @*<div class="col-xs-3">*@
                                            @*<img src="@routes.Assets.at("images/cashier.png")">*@
                                        @*</div>*@
                                        @*<div class="col-xs-9 text-right">*@
                                            @*<div class="huge">Counter System</div>*@
                                        @*</div>*@
                                    @*</div>*@
                                @*</div>*@

                                    @*<div class="panel-footer">*@
                                        @*<span class="pull-left">Go To Page</span>*@
                                        @*<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>*@
                                        @*<div class="clearfix"></div>*@
                                    @*</div>*@

                            @*</div>*@
                            @*</a>*@
                        @*</div>*@
                        @*<div class="col-lg-3 col-md-3">*@
                            @*<a href="/api/a2bliving/a2bliving/driver">*@
                            @*<div class="panel panel-green">*@

                                @*<div class="panel-heading">*@
                                    @*<div class="row">*@
                                        @*<div class="col-xs-3">*@
                                            @*<i class="fa fa-pie-chart fa-5x"></i>*@
                                            @*<img src="@routes.Assets.at("images/driver.png")">*@
                                        @*</div>*@
                                        @*<div class="col-xs-9 text-right">*@
                                            @*<div class="huge">Driver System</div>*@
                                        @*</div>*@
                                    @*</div>*@
                                @*</div>*@
                                    @*<div class="panel-footer">*@
                                            @*<span class="pull-left">Go To Page</span>*@
                                        @*<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>*@
                                        @*<div class="clearfix"></div>*@
                                    @*</div>*@

                            @*</div>*@
                            @*</a>*@
                        @*</div>*@
                        <div class="col-lg-6 col-md-6">
                            <a href="/api/a2bliving/a2bliving/shopAssistant">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-shopping-cart fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/grocery.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">Shop Stock System</div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="panel-footer">
                                        <span class="pull-left">Go To Page</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>

                            </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <a href="/api/a2bliving/ManagerSystem/login ">
                            <div class="panel panel-red">

                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            @*<i class="fa fa-support fa-5x"></i>*@
                                            <img src="@routes.Assets.at("images/manager.png")">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">Manager System</div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="panel-footer">
                                        <span class="pull-left">Go To Page</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->
                    @*品牌营业额统计结束*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.js">
    </script>
    <script type="text/javascript">

            Mousetrap.bind(('d r i'), function(e) {
                window.open("/api/a2bliving/a2bliving/a2bliving_driver","_blank");
                return false;
            });

            Mousetrap.bind(('c o u'), function(e) {
                window.open("/api/a2bliving/a2bliving/cashier","_blank");
                return false;
            });

            Mousetrap.bind(('c u s'), function(e) {
                window.open("/a2bliving/customerService","_blank");
                return false;
            });
    </script>

}
