@(username: String)
@sidebar = {
    <h3>Layers</h3>
    <form class="form-vertical" id="layersForm">
    </form>

    <div id="newVehicle" class="alert alert-block alert-info fade in hide">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">A new vehicle has joined the race!</h4>
        <p id="vehicleName"></p>
    </div>
}

@css = {
    <style TYPE="text/css">
            html, head, body { width: 100%; height: 100%;
            }
            .olControlAttribution {
                display: none !important;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }

            th, td {
                border: none;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #FFFFFF;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover, .offcanvas a:focus{
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 0px;
                font-size: 36px;
                margin-left: 50px;
            }

    </style>
}

@javascript = {
    <script src="@routes.Assets.at("openlayers/OpenLayers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/maptracker.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/twitterbootstrap/bootstrap-alert.js")" type="text/javascript"></script>
    @*<script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>*@
    <script type="text/javascript">
            hashMap = {  //全局变量hashmap, 准备为计时器做准备
                Set : function(key,value){this[key] = value},
                Get : function(key){return this[key]},
                Contains : function(key){return this.Get(key) == null?false:true},
                Remove : function(key){delete this[key]}
            };
            $(document).ready(function() {

                // hidable alert thanks to Twitter Bootstrap
                $(".alert").alert();

                // map initialization
                var map = initMap();

                var markers = new Array();

                // open a WebSocket
                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
                var mapSocket = new WS("@routes.MapMoveAPI.mapsocket().webSocketURL(request)");

                mapSocket.onmessage = function(event) {  //端口收到来自服务器的消息
                    var move = JSON.parse(event.data);
                    var marker = null;
                    // search the marker
                    $.each(markers,
                            function(intIndex, objValue){
                                if (move.driver_id == objValue.id) {  //marker的属性为id
                                    marker = objValue;
                                }
                            });
                    if (marker == null) {
                        // create the marker
                        marker = createMarker(map, move.driver_id, move.longitude, move.latitude, move.driver_name, move.Status);
                        // and add it to the list of marker
                        markers.push(marker);
//            console.log("new driver");
//        	// tell the user that we have a new vehicle
//        	$("#newVehicle").removeClass("hide");
//        	$("#vehicleName").text("And its name is \"" + move.driver_id + "\" !");
//        	window.setTimeout(function() {
//        	    $("#newVehicle").fadeTo(500, 0).slideUp(500, function(){
//        	        $(this).addClass("hide");
//        	    });
//        	}, 5000);
                        var d = new Date();
                        var n = d.getTime();
                        var time_difference = n - move.timestamp;
                        createRow(move.driver_name, move.todo_orders, move.doing_orders ,move.Status,time_difference);
                    } else {
                        marker = moveMarker(map, marker, move.driver_id, move.longitude, move.latitude,move.Status); //已经确定存在有点
                        var d = new Date();
                        var n = d.getTime();
                        var time_difference = n - move.timestamp;
                        updateRow(move.driver_name, move.todo_orders, move.doing_orders ,move.Status,time_difference);
                    }
                    //来处理table

                }
                // if errors on websocket
                var onalert = function(event) {
                    $(".alert").removeClass("hide");
                }

                mapSocket.onerror = onalert;
                mapSocket.onclose = onalert;  //由连接用户决定关闭端口

            });

            function openNav() {
                document.getElementById("mySidenav").style.width = "420px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
    </script>
}

@maptrackermain("Welcome to the MapTracker !")(username)(javascript)(css) {

    <div id="mySidenav" class="sidenav" style="overflow-x:auto;z-index:9999">
        <a href="javascript:void(0)" style="margin-top: 36px;" class="closebtn" onclick="closeNav()"> &times;</a>
        <table id="driver_lists">
            <th>Driver</th>
            <th>To Do</th>
            <th>Doing</th>
            <th>Status</th>
            <th>Last Access Time</th>
            <tbody></tbody>
        </table>
    </div>
    <div style="bottom: -5px;left: 0px;position: fixed;z-index: 750;" class="btn" >
        <span style="font-size:30px;cursor:pointer; border:solid 2px;" onclick="openNav()">Drivers</span>
    </div>

    <div class="alert alert-block alert-error fade in hide" style="background-color: pink">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Oh snap! You got an error!</h4>
        <p>The server seems to be down :(</p>
    </div>

    <div id="map" style="width: 100%;height: 100%"></div>

}
